{% assign anchorClass = "tabBar__anchor" %}

<section class="tabBar">
  <ul class="tabBar__list">
    {% for tabBar in section.tab_bar_item %}
      <li class="tabBar__item">
          {% if forloop.index == 1 && section.active && section.active == true %}
            <a href="{{ section.url }}" class="{{ anchorClass | append: " " | append: "active" }}" >
          {% elsif forloop.index == 1  %}
            <a href="{{ section.url }}" class="{{ anchorClass | append: " " | append: "active" }}" >
          {% else %}
            <a href="{{ section.url }}" class="{{ anchorClass }}">
          {% endif %}

<!--            <a href="#{{ section.url | slugify }}" class="{{ anchorClass | append: " " | append: "active" }}" >
           <a href="#{{ section.url | slugify }}" class="{{ anchorClass }}">
 -->
          {% if section.image %} 
            <img src="{{ section.image }}">
          {% endif %}

          {{ section.link_text }}
          
        </a>
      </li>
    {% endfor %}
  </ul>
</section>