{% assign anchorClass = "tabBar__anchor" %}

<section class="tabBar">
  <ul class="tabBar__list">

    {% if section.navigation && section.navigation == true %}

      {% for tabBar in section.tab_bar_item %}

        <li class="tabBar__item">
          {% if page.url contains tabBar.link_url  %}
              <a href="{{ tabBar.page.url }}" class="{{ anchorClass | append: " " | append: "active" }}" >
          {% else %}
              <a href="{{ tabBar.link_url }}" class="{{ anchorClass }}">
          {% endif %}

            {% if tabBar.image %} 
              <img src=" {{ tabBar.image }} ">
            {% endif %}

          {{ tabBar.link_text }}

          </a>
        </li>

      {% endfor %}

    {% endif  %}

    {% else %}

      {% for tabBar in section.tab_bar_item %}
        <li class="tabBar__item">

          {% if forloop.index == 1  %}
            <a href="{{ tabBar.link_url }}" class="{{ anchorClass | append: " " | append: "active" }}" >
          {% else %}
            <a href="{{ tabBar.linkimage_url }}" class="{{ anchorClass }}">
          {% endif %}

          {% if tabBar.image %} 
            <img src=" {{ tabBar.image }} ">
          {% endif %}

          {{ tabBar.link_text }}

          </a>
        </li>
      {% endfor %}
      
    {% end %}

  </ul>
</section>

<!--     {% if tab_bar_item.custom_active && tab_bar_item.custom_active == true %}
      {% for tabBar in section.tab_bar_item %}
          <li class="tabBar__item">

          {% if tabBar.active && tabBar.active == true %}
            <a href="{{ tabBar.link_url }}" class="{{ anchorClass | append: " " | append: "active" }}" >
          {% else %}
            <a href="{{ tabBar.link_url }}" class="{{ anchorClass }}">
        {% endif %}

        {% if tabBar.image %} 
          <img src=" {{ tabBar.image }} ">
        {% endif %}

        {{ tabBar.link_text }}

        </a>
      </li>
      {% endfor %}

    {% else %}

      {% for tabBar in section.tab_bar_item %}
        <li class="tabBar__item">

          {% if forloop.index == 1  %}
            <a href="{{ tabBar.link_url }}" class="{{ anchorClass | append: " " | append: "active" }}" >
          {% else %}
            <a href="{{ tabBar.linkimage_url }}" class="{{ anchorClass }}">
          {% endif %}

          {% if tabBar.image %} 
            <img src=" {{ tabBar.image }} ">
          {% endif %}

          {{ tabBar.link_text }}

          </a>
        </li>
      {% endfor %}

    {% endif %}

  </ul>
</section>