{% if section.large && section.large == true %}
<section class="interstitial interstitial__large">
	{% if section.title %}
		<div class="interstitial__title">{{ section.title }}</div>
	{% endif %}
    {% if section.cta and section.cta.enabled == true %}
		<a href="{{ section.cta.url }}" class="interstitial__anchor button">{{ section.cta.button_text }}</a>
	{% endif %}
{% else %}
<section class="interstitial interstitial__small">
	{% if section.cta and section.cta.enabled == true %}
		<a href="{{ section.cta.url }}" class="interstitial__anchor button--blue">{{ section.cta.button_text }}</a>
	{% endif %}
	{% if section.description %}
		<div class="interstitial__description">{{ section.description }}</div>
	{% endif %}
{% endif %}

</section>