<section class="featureList">
	{% if section.title %}
		<h2 class="featureList__title">{{ section.title }}</h2>
	{% endif %}
	{% if section.description %}
		<div class="featureList__description">{{ section.description }}</div>
	{% endif %}
	<ul class="featureList__list">
		{% for feature in section.feature_item %}
		<li class="featureList__item">
			<div class="featureList__item-info">
				<div class="featureList__item-supertitle">{{ feature.supertitle}}</div>
				<h3 class="featureList__item-title">{{ feature.title}}</h3>

            	{% if feature.cta and feature.cta.enabled == true %}
					<a href="{{ staggerItem.cta.url }}" class="featureList__item-anchor button">{{ feature.cta.button_text}}</a>
				{% endif %}
				
			</div>
			<div class="featureList__item-visual">
            	<img src="{{ feature.image.image }}"/>
			</div>
		</li>
		{% endfor %}
	</ul>
</section>
