<section class="testimonials">
	<h2 class="testimonials__title">{{ section.title }}</h2>
	<ul class="testimonials__list">
		
		{% for testimonialItem in section.testimonial %}
		<li class="testimonial__item">
			<div class="testimonial__visual">
				<img src="{{ site.asset_path }}{{ testimonialItem.teacher_img_src }}">
			</div>
			<div class="testimonial__info">
				<div class="testimonial__quote">
					<i class="fa fa-quote-left"></i>
					<i class="fa fa-quote-right"></i>
					{{ testimonialItem.quote }}
				</div>
				<div class="testimonial__details">
					<div class="testimonial__nameOfPerson">{{ testimonialItem.teacher_name }}</div>
					<div class="testimonial__teacher-type">{{ testimonialItem.teacher_type }}
						<span class="testimonial__teacher-level">{{ testimonialItem.teacher_level | prepend: ", " }}</span>
					</div>
					{% if testimonialItem.teacher_location %}
						<div class="testimonial__location">{{ testimonialItem.teacher_location }}</div>
					{% endif %}
				</div>
			</div>
		</li>
		{% endfor %}

	</ul>
</section>