{% assign anchorClass = "tabBar__anchor" %}

<section class="tabBar">
  <ul class="tabBar__list">
    {% for tabBar in section.tab_bar_item %}
      <li class="tabBar__item">
          {% if forloop.index == 1 && section.active && section.active == true %}
            <a href="{{ tabBar.link_url }}" class="{{ anchorClass | append: " " | append: "active" }}" >
          {% elsif forloop.index == 1  %}
            <a href="{{ tabBar.link_url }}" class="{{ anchorClass | append: " " | append: "active" }}" >
          {% else %}
            <a href="{{ tabBar.link_url }}" class="{{ anchorClass }}">
          {% endif %}

          {% if tabBar.image.image %} 
            <img src=" {{ tabBar.image.image }} ">
          {% endif %}

          {{ tabBar.link_text }}

        </a>
      </li>
    {% endfor %}
  </ul>
</section>