<footer>
{% if site.data.information %}

	{% assign info = site.data.information %}

	<div class="footer">
		<div class="footer__site-links">
			<ul>
				<li>
					<img class="footer__logo" src="{{ baseurl }}/assets/img/logo-combined-blue.svg" alt="Albert logo" />
				</li>
			</ul>
			<ul>
				<li class="footer__column-title">Get started</li>
				<li><a href="">Log in</a></li>
				<li><a href="">Sign up</a></li>
				<li><a href="">Course Library</a></li>
				<li><a href="">Request Demo</a></li>
				<li><a href="">Generate Quote</a></li>
			</ul>
			<ul>
				<li class="footer__column-title">Learn more</li>
				<li><a href="">About us</a></li>
				<li><a href="">Careers</a></li>
				<li><a href="">Help Center</a></li>
				<li><a href="">Blog</a></li>
				<li><a href="">Store</a></li>
			</ul>
			<ul>
				<li class="footer__column-title">Product</li>
				<li><a href="">Platform Features</a></li>
				<li><a href="">Content</a></li>
				<li><a href="">Changelog</a></li>
				<li><a href="">Compatibility</a></li>
			</ul>
			<ul>
				<li class="footer__column-title">Contact us</li>
				<li><a href="">hello@albert.io</a></li>
				<li><a href="">(800) 554-8115 ext. 0</a></li>
				<li><a href="">(800) 554-8115</a></li>
			</ul>
			<ul>
				<li class="footer__column-title">Sales</li>
				<li><a href="">schools@albert.io</a></li>
				<li><a href="">(800) 554-8115 ext. 1</a></li>
				<li><a href="">(800) 554-8115</a></li>
			</ul>
	</div>
		<div class="footer__social-links">
			<ul>
				<li><a href="">Facebook</a></li>
				<li><a href="">Twitter</a></li>
			</ul>
		</div>
		<div class="footer__site-details">
			Copyright 2018 Learn By Doing, Inc.<br>
			<a href="#">Privacy Policy</a><a href="#">Terms of Use</a><br>
			AP® and Advanced Placement® are registered trademarks of the College Board, which was not involved in the production of, and does not endorse, this product.
		</div>
	</div>

<!-- 	<p>
	  {% if site.title %}{{ site.title }}<br />{% endif %}
	  <br />
	  {% if info.address_1 %}{{ info.address_1 }}<br />{% endif %}
	  {% if info.address_2 %}{{ info.address_2 }}<br />{% endif %}
	  {% if info.country and info.state and info.city %}
	  {{ info.city }}, {{ info.state }}, {{ info.country }}<br />
	  {% endif %}
	  <br />
	  {% if info.phone %}<a href="tel:{{ info.phone }}" title="{{ info.phone }}">{{ info.phone }}</a><br />{% endif %}
	  {% if info.email %}<a href="mailto:{{ info.email }}" title="{{ info.email }}">{{ info.email }}</a>{% endif %}
	</p> -->

{% endif %}
</footer>

	</body>
	<script src="{{ site.baseUrl }}/assets/js/scripts.js"></script>
</html>