<footer>
{% if site.data.information %}

	{% assign info = site.data.information %}

	<div class="footer">
		<div class="footer__logo">
			{% include /svg/logo-combined-blue.svg %}
		</div>
		<div class="footer__site-links">
			<ul>
				<li class="footer__column-title">Get started</li>
				<li><a href="">Log in</a></li>
				<li><a href="">Sign up</a></li>
				<li><a href="">Course Library</a></li>
				<li><a href="">Request Demo</a></li>
				<li><a href="">Generate Quote</a></li>
			</ul>
			<ul>
				<li class="footer__column-title">Learn more</li>
				<li><a href="">About us</a></li>
				<li><a href="">Careers</a></li>
				<li><a href="">Help Center</a></li>
				<li><a href="">Blog</a></li>
				<li><a href="">Store</a></li>
			</ul>
			<ul>
				<li class="footer__column-title">Product</li>
				<li><a href="">Platform Features</a></li>
				<li><a href="">Content</a></li>
				<li><a href="">Changelog</a></li>
				<li><a href="">Compatibility</a></li>
			</ul>
			<ul>
				<li class="footer__column-title">Contact us</li>
				<li><a href="">hello@albert.io</a></li>
				<li><a href="">{{ info.contact.support_phone }}</a></li>
			</ul>
			<ul>
				<li class="footer__column-title">Sales</li>
				<li><a href="">schools@albert.io</a></li>
				<li><a href="">{{ info.contact.sales_phone }}</a></li>
			</ul>
	</div>
		<div class="footer__social-links">
			<ul>
				<li><a href="https://www.facebook.com/{{ info.social.facebook }}">Facebook</a></li>
				<li><a href="https://www.twitter.com/{{ info.social.twitter }}">Twitter</a></li>
			</ul>
		</div>
		<div class="footer__site-details">
			<p class="footer__copyright">&copy;{{ 'now' | date: "%Y" }} Learn By Doing, Inc.<a href="#">Privacy Policy</a><a href="#">Terms of Use</a></p>
			<p class="footer__legal">AP® and Advanced Placement® are registered trademarks of the College Board, which was not involved in the production of, and does not endorse, this product.</p>
		</div>
	</div>
{% endif %}
</footer>

	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/js/appear.js"></script>
	<script src="/assets/js/scripts.js"></script>
</html>