<footer>
{% if site.data.information %}

	{% assign info = site.data.information %}

	<div class="footer">
		<div class="footer__logo">
			{% include /svg/logo-combined-blue.svg %}
		</div>
		<div class="footer__site-links">
			<ul>
				<li class="footer__column-title">Get started</li>
				<li><a href="">Log in</a></li>
				<li><a href="/signup">Sign up</a></li>
				<li><a href="/k-12/core">Course Library</a></li>
				<li><a href="">Request Demo</a></li>
				<li><a href="/pricing/quote-gen/select">Generate Quote</a></li>
			</ul>
			<ul>
				<li class="footer__column-title">Company</li>
				<li><a href="/about">About us</a></li>
				<li><a href="https://careers.albert.io/">Careers</a></li>
				<li><a href="https://www.albert.io/blog/">Blog</a></li>
				<li><a href="https://store.albert.io/">Store</a></li>
			</ul>
			<ul>
				<li class="footer__column-title">Solutions</li>
				<li><a href="/solutions-k-12-ela">K-12 ELA</a></li>
				<li><a href="/solutions-k-12-math">K-12 Math</a></li>
				<li><a href="/solutions-k-12-science">K-12 Science</a></li>
				<li><a href="/solutions-k-12-ap">K-12 Advanced Placement®</a></li>
				<li><a href="/solutions-k-12-college-entrance">K-12 College Entrance</a></li>
			</ul>
			<ul>
				<li class="footer__column-title">Product</li>
				<li><a href="/features">Features</a></li>
				<li><a href="/benefits">Benefits</a></li>
				<li><a href="/results">Results</a></li>
				<li><a href="https://changes.albert.io/">Changelog</a></li>
				<li><a href="https://canary.albert.io/software-consideration">Compatability</a></li>
			</ul>
			<ul>
				<li class="footer__column-title">Contact us</li>
				<li class="footer__column-category">Support</li>
				<li><a href="https://help.albert.io/"><i class="fa fa-headset"></i>Help center</a></li>
				<li><a href="mailto:hello@albert.io"><i class="fa fa-envelope"></i>hello@albert.io</a></li>
				<li><a href=""><i class="fa fa-phone"></i>{{ info.contact.support_phone }}</a></li>
				<li class="footer__column-category">Sales</li>
				<li><a href="mailto:schools@albert.io"><i class="fa fa-envelope"></i>schools@albert.io</a></li>
				<li><a href=""><i class="fa fa-phone"></i>{{ info.contact.sales_phone }}</a></li>
				<li><a href=""><i class="fa fa-fax"></i>{{ info.contact.sales_fax }}</a></li>
			</ul>
	</div>
		<div class="footer__social-links">
			<ul>
				<li><a href="https://www.facebook.com/{{ info.social.facebook }}"><i class="fab fa-facebook-f"></i>Facebook</a></li>
				<li><a href="https://www.twitter.com/{{ info.social.twitter }}"><i class="fab fa-twitter"></i>Twitter</a></li>
			</ul>
		</div>
		<div class="footer__site-details">
			<p class="footer__copyright">&copy;{{ 'now' | date: "%Y" }} Learn By Doing, Inc.<a href="#">Privacy Policy</a><a href="#">Terms of Use</a></p>
			<p class="footer__legal">AP® and Advanced Placement® are registered trademarks of the College Board, which was not involved in the production of, and does not endorse, this product.</p>
		</div>
	</div>
{% endif %}
</footer>

	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/js/appear.js"></script>
	<script src="/assets/js/scripts.js"></script>
</html>