<!doctype html>
<html lang="en">
	<head>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content={{ include.metaDescription }}>
		<meta name="robots" content="index,follow">
		<meta property="og:title" content={{ site.title }} />
		<meta property="og:url" content={{ include.metaOgUrl }} />
		<meta property="og:image" content={{ include.metaOgImage }} />
		<link rel="stylesheet" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<title>{{ site.title }}</title>
	</head>
  	<body>