<!doctype html>
<html lang="en">
	<head>	
		<title>{{ page.title | default: site.title }} | Albert</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ page.description | default: site.description }}"/>
		<meta name="robots" content="index,follow">
		<meta property="og:title" content="{{ page.meta.ogTitle | default: site.title }}"/>
		<meta property="og:url" content={{ page.meta.ogUrl }} />
		<meta property="og:image" content={{ page.meta.OgImage }} />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ site.baseUrl }}/css/styles.css">
		<link rel="stylesheet" href="{{ site.baseUrl }}/js/jquery.min.js">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
  	<body>