<div class="heroComponent">
    <div class="container-fluid">
        <div class="row">
            <div class="heroComponent__info-container col-md-6">
                <h6 class="heroComponent__supertitle">{{ include.supertitle }}</h6>
                <h1 class="heroComponent__title">{{ include.title }}</h1>
                <p class="heroComponent__description">{{ include.description }}</p>
                <a href="{{ include.cta_href }}" class="button heroComponent__cta">{{ include.cta_label }}</a>
            </div>
            <div class="heroComponent__visual ">
                <img src="{{ include.img_src }}">
            </div>
        </div>
    </div>
</div>