{% assign nav = site.data.nav %}

<div class="mainNav">
	<header role="banner">
		<a href="/" class="mainNav__logo">
			<img src="assets/img/logo-combined-white.svg" alt="Albert logo" />
		</a>
		<div class="mainNav__mobile-toggle">
			<i class="fas fa-bars toggle--open active"></i>
			<i class="fas fa-times toggle--close"></i>
    	</div>
		<nav role=navigation>
			<ul class="mainNav__nav">
				{% for navItem in nav.navItems %}

					{% if navItem.url %}
			      	<li><a href="{{ navItem.url }}">{{ navItem.label }}</a>
					{% else %}
			      	<li class="nav__dropdown">{{ navItem.label }}
			      	{% endif %}

	                {% if navItem.subitem_groups[0] %}
		                <ul>
				   			{% for subitem_group in navItem.subitem_groups %}
								<div>
									{% if subitem_group.group_title %}
				   						<h1>{{ subitem_group.group_title }}</h1>
									{% endif %}
					   				 {% for subitem in subitem_group.subitems %}
						      			<li>
						      				<a href="{{ subitem.url }}">
												{% if subitem.description %}
						      						<div class="nav__subitem-visual"><img src="{{ subitem.icon_url }}"></div>
												{% endif %}
						      					<div class="nav__subitem-info-container">
						      						<div class="nav__subitem-title">{{ subitem.label }}</div>
													{% if subitem.description %}
						      							<div class="nav__subitem-description">{{ subitem.description }}</div>
													{% endif %}
						      					</div>
						      				</a>
						      			</li>
					   				 {% endfor %}
					   			</div>
				   			{% endfor %}
		                </ul>
	               	{% endif %}

			      </li>
				{% endfor %}
			</ul>
	        
	        {% if nav.accountItems[0] %}

				<ul class="mainNav__account">
					<li><a href="#">Log in</a></li>
					<li><a class="button button--sign-up" href="#">Sign up</a></li>
				</ul>

	        {% endif %}

		</nav>
	</header>
</div>