#{$button} {
	@include button();
	// @include button-color(white, $link);
	// border: 2px solid $link;

	.icon {
		&--left {
			margin-right: em(5);
		}

		&--right {
			margin-left: em(5);
		}
	}
}

.button--large {
	@include button();
	font-size: rem(16);
	letter-spacing: .8px;

	@media only screen and (min-width: $xs-viewport) {
		padding: em(30) em(40);
 	}
}

.button--small {
	@include button();
	font-size: rem(12);
	padding: em(5) em(10);
}

.button--white {
	@include button();
	@include button-color(white, $link);
}

.button--blue {
	@include button();
	@include button-color($link, white);
}