.caseStudy {
	padding-top: $nav-height;

	.caseStudy__hero {
		padding-top: rem(80);
		padding-bottom: rem(80);
		color: #FFFFFF;
		position: relative;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    background-attachment: fixed;

		&:after {
			content: "";
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: .9;
			background-color: $studies-hero-color;
		}

		> * {
			margin-left: $container-spacing;
			margin-right: $container-spacing;
			position: relative;
			z-index: 2;
		}

		.caseStudy__back {
			@include button-back;
			margin-bottom: rem(20);
		}

		.caseStudy__title {
			@include title-large;
			margin-bottom: rem(20);
			max-width: rem(600);
		}

		.caseStudy__school-info {
			display: flex;
			flex-direction: row;
			opacity: .75;

			.caseStudy__location {
			}

			.caseStudy__school-level {
				margin-left: rem(10);
				padding-left: rem(10);
				border-left: 1px solid $menuBorder;
			}
		}
	}

	.caseStudy__statistics-wrapper {
		background-color: $alabaster;

		> * {
			margin-left: $container-spacing;
			margin-right: $container-spacing;
		}

		.statistics__list {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			align-items: center;

			.statstic__item { 
				display: flex;
				flex-direction: column;
				justify-content: center;
				background-color: #FFFFFF;
				border-radius: 50%;
				box-shadow: $shadow_depth_2;
				width: rem(120);
				height: rem(120);
				text-align: center;
				margin-right: rem(20);
				margin-top: rem(20);
				margin-bottom: rem(20);

				&:last-child {
					margin-right: 0;
				}

				.statistic__value {
					font-size: rem(24);
					margin-bottom: rem(10);
					margin-top: rem(-10);
					font-weight: 400;
				    width: 95%;
				    margin-left: auto;
				    margin-right: auto;
				}

				.statistic__value-subtitle {
					font-size: rem(13);
					color: $supertitle-light-grey;
				    width: 92%;
				    margin-left: auto;
				    margin-right: auto;
				}
			}

			.requestDemo {
				padding: rem(30);
				text-align: center;
				background-color: #FFFFFF;
				box-shadow: $shadow_depth_2;
				border-radius: rem(10);
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				margin-top: rem(20);
				margin-bottom: rem(20);

				.requestDemo__title {
					@include title-small;
					margin-bottom: rem(20);
				}

				.requestDemo__button {
					margin-bottom: 0;
				}
			}
		}
	}

	.caseStudy__info {
		@include section-spacing;
		max-width: rem(1000);
		margin: 0 auto;

		.caseStudy__info-title {
			@include fancy-title-medium;
			margin-bottom: rem(20);
			text-align: center;
		}

		.caseStudy__info-paragraph {
			margin-bottom: rem(80);

			p {
				font-size: rem(17);
				line-height: 1.8;
				color: $text-black--lighter_step_2;
				white-space: pre-wrap;
			}
		}

		.caseStudy__info-citation {
			white-space: pre-wrap;
			color: $text-black--lighter_step_2;
			font-style: italic;
		}
	}
}

@media only screen and (min-width: $m-viewport) {
	.caseStudy {
		.caseStudy__hero {
			.caseStudy__back {
				position: absolute;
				top: 0;
				left: 0;
				margin-left: rem(40);
				margin-top: rem(40);

			}
		}

		.caseStudy__statistics-wrapper {
			.statistics__list {
				.statstic__item {
					width: rem(165);
					height: rem(165);
					margin-right: rem(40);
					margin-top: rem(40);
					margin-bottom: rem(40);

					.statistic__value {
						font-size: rem(30);
						margin-bottom: rem(15);
					}

					.statistic__value-subtitle {
						font-size: rem(14);
					}
				}

				.requestDemo {
					margin-top: rem(40);
					margin-bottom: rem(40);
				}
			}
		}

		.caseStudy__info {
			.caseStudy__info-paragraph {
				p {
					font-size: rem(20);
				}
			}
		}
	}
}