.caseStudy {
	padding-top: $nav-height;

	.caseStudy__hero {
		display: none;
		padding-top: rem(40);
		padding-bottom: rem(40);
		color: #FFFFFF;
		position: relative;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    background-attachment: fixed;
	    overflow: hidden;
	    max-width: 100%;

		&:after {
			content: "";
			max-width: 100%;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: .9;
			background-color: $studies-hero-color;
		}

		> * {
			margin-left: $container-spacing;
			margin-right: $container-spacing;
			position: relative;
			z-index: 2;
		}

		.caseStudy__back {
			@include button-back;
			margin-bottom: rem(20);
		}

		.caseStudy__title {
			@include title-large;
			margin-bottom: rem(20);
			max-width: rem(600);
		}

		.caseStudy__school-info {
			display: flex;
			flex-direction: row;
			opacity: .75;

			.caseStudy__location {
			}

			.caseStudy__school-level {
				margin-left: rem(10);
				padding-left: rem(10);
				border-left: 1px solid $menuBorder;
			}
		}
	}

	.caseStudy__statistics-wrapper {
		background-color: $alabaster;

		.statistics__list {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			align-items: center;
			padding-top: rem(10);

			.statstic__item { 
				display: flex;
				flex-direction: column;
				justify-content: center;
				background-color: #FFFFFF;
				border-radius: 50%;
				box-shadow: $shadow_depth_2;
				width: rem(120);
				height: rem(120);
				text-align: center;
				margin-left: rem(5);
				margin-right: rem(5);
				margin-top: rem(10);
				margin-bottom: rem(10);

				&:last-child {
					margin-right: 0;
				}

				.statistic__value {
					font-size: rem(24);
					margin-bottom: rem(10);
					margin-top: rem(-10);
					font-weight: 400;
				    width: 95%;
				    margin-left: auto;
				    margin-right: auto;
				}

				.statistic__value-subtitle {
					font-size: rem(13);
					color: $supertitle-light-grey;
				    width: 92%;
				    margin-left: auto;
				    margin-right: auto;
				}
			}

			.requestDemo {
				text-align: center;
				border-radius: rem(10);
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				margin-top: rem(20);
				margin-bottom: rem(20);
				width: 100%;
				margin-left: rem(20);
				margin-right: rem(20);

				.requestDemo__title {
					display: none;
					@include title-small;
					margin-bottom: rem(20);
				}

				.requestDemo__button {
					margin-bottom: 0;
				}
			}
		}
	}

	.caseStudy__info {
		@include section-spacing;
		max-width: rem(1000);
		margin: 0 auto;

		h1,
		.caseStudy__info-title {
			@include fancy-title-medium;
			margin-bottom: rem(30);
			margin-top: rem(100);
			text-align: center;

			&:first-child {
				margin-top: 0;
			}
		}

		h1 {
			max-width: rem(500);
			margin-left: auto;
			margin-right: auto;
		}

		p,
		.caseStudy__info-paragraph {
			font-size: rem(17);
			line-height: 1.8;
			color: $text-black--lighter_step_2;
			white-space: pre-wrap;

			p {
				font-size: rem(17);
				line-height: 1.8;
				color: $text-black--lighter_step_2;
				white-space: pre-wrap;
			}
		}

		img {
			max-width: 100%;
			display: block;
			margin: 0 auto;
			height: auto;
			max-height: rem(500);
		}

		.citation,
		.caseStudy__info-citation {
			white-space: pre-wrap;
			color: lighten($text-black--lighter_step_2, 20%);
			font-style: italic;
			font-size: rem(15);
			margin: rem(20) auto 0 auto;
		}
	}

	blockquote {
	    background-color: $bgGrey;
	    border-radius: rem(10);
	    font-style: italic;
	    padding: rem(20);
	    text-align: center;
	    max-width: rem(500);
	    margin: 0 auto rem(30) auto;
	    box-shadow: $shadow_depth_3;

	    p {
	    	margin: 0;

			&::before {
				content: open-quote;
				font-family: serif;
				font-size: 3em;
				line-height: 0;
				display: inline;
				margin: 0 0 20px 0;
			}
	    }
	}
}

@media only screen and (min-width: $s-viewport) {
	.caseStudy {
		.caseStudy__statistics-wrapper {
			.statistics__list {
				.requestDemo {
					padding: rem(30);
					background-color: #FFFFFF;
					width: 100%;
					box-shadow: $shadow_depth_2;
					width: auto;
					margin-right: rem(10);
					margin-left: rem(10);

					.requestDemo__title {
						display: initial;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: $m-viewport) {
	.caseStudy {
		.caseStudy__statistics-wrapper {
			.statistics__list {
				.statstic__item { 
					margin-right: rem(10);
					margin-left: rem(10);
				}
			}
		}
	}
}


@media only screen and (min-width: $m-viewport) {
	.caseStudy {
		.caseStudy__hero {
			padding-top: rem(80);
			padding-bottom: rem(80);
			.caseStudy__back {
				position: absolute;
				top: 0;
				left: 0;
				margin-left: rem(40);
				margin-top: rem(40);
			}
		}

		.caseStudy__statistics-wrapper {
			.statistics__list {
				.statstic__item {
					width: rem(165);
					height: rem(165);
					margin-right: rem(20);
					margin-left: rem(20);
					margin-top: rem(40);
					margin-bottom: rem(40);

					.statistic__value {
						font-size: rem(30);
						margin-bottom: rem(15);
					}

					.statistic__value-subtitle {
						font-size: rem(14);
					}
				}

				.requestDemo {
					margin-top: rem(40);
					margin-bottom: rem(40);
					margin-right: rem(40);
					margin-left: rem(40);
				}
			}
		}

		.caseStudy__info {
			img {
				max-width: rem(600);
			}

			.caseStudy__info-paragraph {
				p {
					font-size: rem(20);
				}
			}
		}
	}
}

@media only screen and (min-width: $xxl-viewport) {
	.caseStudy {
		.caseStudy__info {
			max-width: rem(1200);
		}
	}
}