$size: 70;

.directionalArrow {
	color: $link;
	box-shadow: $shadow_depth_5;
	background-color: #FFFFFF;
	border-radius: 50%;
	line-height: $size+px;
	width: rem($size);
	height: rem($size); 
	z-index: $directional-arrow-index;

    i {
    	pointer-events: none;
    	line-height: rem($size);
    	position: relative;
    }

    &.scrollTo {
		content: "down";
		bottom: rem(40);
		position: fixed;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
	  	animation-duration: 2s;
	    animation-delay: 1s;
	    animation-iteration-count: infinite;
	    transition: opacity .25s ease-in-out;
	    opacity: 0;
	    font-size: rem(22);
	    pointer-events: none;
    }

    &.active {
  		animation-name: bounce;
    	opacity: 1;
    	pointer-events: all;
    }

    &.next,
    &.previous {
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	margin: auto;
    	opacity: .5;

    	&:hover {
    		opacity: 1;
    	}
    }

    &.next {
    	right: rem(($size/2 * -1)-10);

    	i {
    		right: rem(20);
    	}
    }

    &.previous {
    	left: rem(($size/2 * -1)-10);

    	i {
    		left: rem(20);
    	}
    }
}