$nav-padding: rem(20);

.mainNav {
	background-color: $nav-background-color;
	color: #FFFFFF;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: $nav-height;
	z-index: 1000;

	& + .content {
		padding-top: $nav-height;
	}

	header {
		display: flex;
		height: 100%;
		align-items: center;

		nav {
			display: flex;

			ul {
				display: flex;

				li {
					a {
						color: white;
					}
				}
			}
		}

		.mainNav__logo {
			max-height: $nav-height;
		}
	}
}