/////////////////
//   Buttons   //
/////////////////
@mixin base-button() {
	display: inline-block;
	text-decoration: none;
	border-radius: em(5);
	padding: rem(15) rem(25);
	font-size: rem(16);
	box-shadow: $shadow_depth_2;
	border: 0 solid transparent;
	cursor: pointer;
	outline: 0px solid transparent;
	text-align: center;
	font-weight: 400;
}

@mixin button-color($button-bg-color: $button-primary, $button-text-color: #FFFFFF) {
	color: $button-text-color;
	background-color: $button-bg-color;

	&:hover {
		box-shadow: $shadow_depth_4;
		background-color: darken($button-bg-color, 1.5);
	}

	&:active {
		transition: box-shadow 0s ease-in-out;
		background-color: $button-bg-color;
		box-shadow: $shadow_depth_2;
	}
}

@mixin button() {
	@include base-button();
	@include button-color();
	transition: box-shadow .2s ease-in-out;
}



////////////////
// Typography //
////////////////


@mixin base-text-styles() {
	font-weight: 400;
}

@mixin make-fancy {
	font-family: 'All Round Gothic', 'Futura';
}

@mixin page-title() {
	@include base-text-styles();
	font-size: rem(42);
	color: $secondary_blue;
	line-height: 1.3em;

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(52);
	}
}

@mixin super-title() {
	@include base-text-styles();
	@include make-fancy;
	font-size: rem(18);
	text-transform: uppercase;
	color: $supertitle-grey;
}


@mixin fancy-title-medium() {
	@include base-text-styles();
	@include make-fancy;
	font-size: rem(22);
	text-transform: uppercase;

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(28);
 	}
}

@mixin fancy-title-xs() {
	@include base-text-styles();
	@include make-fancy;
	font-size: rem(12);
	text-transform: uppercase;
	color: $supertitle-light-grey;

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(14);
 	}
}

@mixin fancy-title-sm() {
	@include base-text-styles();
	@include make-fancy;
	font-size: rem(16);
	text-transform: uppercase;

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(20);
 	}
}

@mixin title-medium() {
	@include base-text-styles();
	font-size: rem(20);
	line-height: 1.3em;

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(30);
 	}
}

@mixin title-small() {
	@include base-text-styles();
	font-size: em(18);

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(20);
 	}
}

@mixin title-xs() {
	@include base-text-styles();
	font-size: em(16);

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(17);
 	}
}

@mixin label-title() {
	@include base-text-styles();
	text-transform: uppercase;
	font-weight: 600;
	font-size: rem(14);
	letter-spacing: .5px;
	color: $text_light_grey;
}


// @mixin large-title() {
// 	@include base-text-styles();
// 	font-size: em(28);
// }

// @mixin medium-title() {
// 	@include base-text-styles();
// 	font-size: em(24);
// }

// @mixin label-title() {
// 	@include base-text-styles();
// 	@include make-fancy();
// 	color: $text-black--lighter_step_1;
// 	font-weight: 600;
// 	line-height: em(64);
// 	font-size: em(20);
// 	text-transform: uppercase;
// 	letter-spacing: .65px;

// 	@media only screen and (max-width: $s-viewport) {
// 		font-size: rem(16);
// 	}
// }

@mixin paragraph-small() {
	font-size: em(14);
	line-height: em(24);
}

@mixin paragraph-large() {
	font-size: em(4);
}


/////////////////
//   Spacing   //
/////////////////
@mixin section-spacing() {
	padding-top: $section-padding-mobile;
	padding-bottom: $section-padding-mobile;
	padding-left: $container-spacing;
	padding-right: $container-spacing;

	@media only screen and (min-width: $s-viewport) {
		padding-top: $section-padding;
		padding-bottom: $section-padding;
	}
}

@mixin large-padding() {
	padding: rem(80);

	@media only screen and (max-width: $s-viewport) {
		padding: rem(40);
	}
}


/////////////////
//  Keyframes  //
/////////////////

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}