/////////////////
//   Buttons   //
/////////////////
@mixin base-button() {
	display: inline-block;
	text-decoration: none;
	border-radius: em(10);
	padding: rem(20) rem(30);
	font-size: rem(12);
	// box-shadow: $shadow_depth_2;
	border: 0 solid transparent;
	cursor: pointer;
	outline: 0px solid transparent;
	text-align: center;
	font-weight: 900;
	letter-spacing: .5px;
	text-transform: uppercase;
}

@mixin button-color($button-bg-color: $button-primary, $button-text-color: #FFFFFF) {
	color: $button-text-color;
	background-color: $button-bg-color;

	&:hover {
		box-shadow: $shadow_depth_4;
		background-color: darken($button-bg-color, 1.5);
	}

	&:active {
		transition: box-shadow 0s ease-in-out;
		background-color: $button-bg-color;
		box-shadow: $shadow_depth_2;
	}
}

@mixin button() {
	@include base-button();
	@include button-color();
	transition: box-shadow .2s ease-in-out;
}

@mixin button-back() {
	@include button-color(transparent, white);
	padding: rem(10) rem(15);
	box-shadow: none;

	&:hover,
	&:focus {
		box-shadow: none;
	}

	i {
		margin-right: rem(10);
	}

	@media only screen and (min-width: $m-viewport) {
		@include button-color(white, $button-back-text-color);
 	}
}



////////////////
// Typography //
////////////////


@mixin base-text-styles() {
	font-weight: 400;
}

@mixin make-fancy {
	font-family: all_round_gothic, 'Futura';
}

@mixin page-title() {
	@include base-text-styles();
	font-size: rem(34);
	color: $secondary_blue;
	line-height: 1.3em;

	@media only screen and (min-width: $xs-viewport) {
		font-size: rem(42);
	}

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(52);
	}

	@media only screen and (min-width: $xxl-viewport) {
		font-size: rem(80);
	}
}

@mixin super-title() {
	@include base-text-styles();
	@include make-fancy;
	font-size: rem(18);
	text-transform: uppercase;
	color: $supertitle-grey;
}

@mixin fancy-title-large() {
	@include base-text-styles();
	@include make-fancy;
	font-size: rem(40);
	text-transform: uppercase;
	line-height: 1.2;

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(50);
 	}
}

@mixin fancy-title-medium() {
	@include base-text-styles();
	@include make-fancy;
	font-size: rem(22);
	text-transform: uppercase;
	line-height: 1.2;

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(28);
 	}

	@media only screen and (min-width: $xl-viewport) {
		font-size: rem(34);
 	}
}

@mixin fancy-title-xs() {
	@include base-text-styles();
	@include make-fancy;
	font-size: rem(12);
	text-transform: uppercase;
	color: $supertitle-light-grey;

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(14);
 	}
}

@mixin fancy-title-small() {
	@include base-text-styles();
	@include make-fancy;
	font-size: rem(16);
	text-transform: uppercase;

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(20);
 	}

	@media only screen and (min-width: $xl-viewport) {
		font-size: rem(24);
 	}
}

@mixin title-large() {
	@include base-text-styles();
	font-size: rem(40);
	line-height: 1.3em;

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(50);
 	}
}

@mixin title-medium() {
	@include base-text-styles();
	font-size: rem(20);
	line-height: 1.3em;

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(30);
 	}
	@media only screen and (min-width: $xl-viewport) {
		font-size: rem(34);
 	}
}

@mixin title-small() {
	@include base-text-styles();
	font-size: em(18);
	line-height: 1.3em;

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(20);
 	}
}

@mixin title-xs() {
	@include base-text-styles();
	font-size: em(16);

	@media only screen and (min-width: $s-viewport) {
		font-size: rem(17);
 	}
}

@mixin label-title() {
	@include base-text-styles();
	text-transform: uppercase;
	font-weight: 600;
	font-size: rem(15);
	letter-spacing: .5px;
	color: $text_light_grey;
}


@mixin component-description {
	text-align: center;
	max-width: rem(500);
	line-height: 1.5em;
	color: lighten($text-black, 30%);
	margin-right: auto;
	margin-left: auto;
	margin-bottom: rem(80);
}

@mixin paragraph-small() {
	font-size: em(14);
	line-height: em(24);
}

@mixin paragraph-large() {
	font-size: em(4);
}


/////////////////
//   Spacing   //
/////////////////
@mixin section-spacing($sides: true) {
	@if $sides == false {
		padding-top: $section-padding-mobile;
		padding-bottom: $section-padding-mobile;

		@media only screen and (min-width: $s-viewport) {
			padding-top: $section-padding;
			padding-bottom: $section-padding;
		}

	} @else {
		padding-top: $section-padding-mobile;
		padding-bottom: $section-padding-mobile;
		padding-left: $container-spacing;
		padding-right: $container-spacing;

		@media only screen and (min-width: $s-viewport) {
			padding-top: $section-padding;
			padding-bottom: $section-padding;
		}
	}
}

@mixin large-padding() {
	padding: rem(80);

	@media only screen and (max-width: $s-viewport) {
		padding: rem(40);
	}
}


/////////////////
//  Keyframes  //
/////////////////

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}