{% assign graph = include.content %}

<section class="barGraph">
	<div class="component__info-wrapper">
		<div class="component__title">{{ graph.component_title }}</div>
		<div class="component__description">{{ graph.component_description }}</div>
	</div>

	<div class="graph__wrapper">
		<a class="directionalArrow previous" href="#component_previous"><i class="fa fa-chevron-left"></i></a>
		<a class="directionalArrow next" href="#component_next"><i class="fa fa-chevron-right"></i></a>
		<div class="tabBar">
		  	<ul class="tabBar__list">
				{% if graph.graphs.size > 1 %} 
					{% for graph in graph.graphs %}
						<li class="tabBar__item">
					         {% if forloop.index == 1 %}
								<a href="#{{ graph.tab_label | slugify }}" class="tabBar__anchor active">{{ graph.tab_label}}</a>
					         {% else %}
								<a href="#{{ graph.tab_label | slugify }}" class="tabBar__anchor">{{ graph.tab_label}}</a>
					         {% endif %}
						</li>
			  		{% endfor %}
				{% endif %}
		  	</ul>
		</div>
	  	<ul class="graphs">
			{% for graph in graph.graphs %}
				{% if forloop.index == 1 %}
					<li id="{{ graph.tab_label | slugify }}" class="graph__item active">
				{% else %}
					<li id="{{ graph.tab_label | slugify }}" class="graph__item">
				{% endif %}
					<div class="data__title">{{ graph.graph_title }}</div>
			  		<div class="data__info-container">
			  			<div class="data__markers">
			  				<div class="data__middle-marker"></div>
			  			</div>
						{% for data in graph.data %}
				  			<div class="data__value-wrapper">
				  				<div class="data__bar" style="background-color: {{ data.bar_color }}; height: {{ data.bar_value | append: '%' }}">

				  					{% assign bar_value = data.bar_value | append: '%' %}

			  						{% if data.bar_value_label %}
			  							{% assign bar_value = data.bar_value_label %}
			  						{% endif %}

				  					{% if data.bar_value > 84 %}
				  						<div class="data__value inside-bar">{{ bar_value }}</div>
				  					{% else %} 
				  						<div class="data__value custom">{{ bar_value }}</div>
				  					{% endif %}
				  				</div>
				  			</div>
	  					{% endfor %}
			  		</div>

					{% for data in graph.data %}
					    {% assign a_bar_label = data.bar_label | split: '_' %}
					    {% assign bar_labels = bar_labels | concat: a_bar_label %}
					{% endfor %}
			  		
					{% if bar_labels[0] %}
					<ul class="data__bar-labels">
			  			{% for label in bar_labels %}
			  				<li class="data__bar-label">{{ label }}</li>
			  			{% endfor %}
			  		</ul>
			  		{% endif %}

					{% assign bar_labels = '' | split: '' %}

			  		<ul class="data__group-label">
			  			{% for data in graph.data %}
			  				{% if data.group_label %}
			  					<li>{{ data.group_label }}</li>
			  				{% endif %}
			  			{% endfor %}
			  		</ul>

				</li>
			{% endfor %}
	  	</ul>
	</div>
</section>