{% assign graph = include.content %}

<section class="barGraph">
	<div class="component__title">{{ graph.component_title }}</div>
	<div class="component__description">{{ graph.component_description }}</div>

	<div class="graph__wrapper">
		<div class="tabBar">
		  	<ul class="tabBar__list">
				{% if graph.graphs.size > 1 %} 
					{% for graph in graph.graphs %}
						<li class="tabBar__item">
					         {% if forloop.index == 1 %}
								<a href="#{{ graph.title | slugify }}" class="tabBar__anchor active">{{ graph.title}}</a>
					         {% else %}
								<a href="#{{ graph.title | slugify }}" class="tabBar__anchor">{{ graph.title}}</a>
					         {% endif %}
						</li>
			  		{% endfor %}
				{% endif %}
		  	</ul>
		</div>
	  	<ul class="graphs">
			{% for graph in graph.graphs %}
				{% if forloop.index == 1 %}
					<li id="{{ graph.title | slugify }}" class="graph__item active">
				{% else %}
					<li id="{{ graph.title | slugify }}" class="graph__item">
				{% endif %}
					<div class="data__title">{{ graph.title }}</div>
			  		<div class="data__info-container">
			  			<div class="data__markers">
			  				<div class="data__middle-marker"></div>
			  			</div>
						{% for data in graph.data %}
				  			<div class="data__value-wrapper">
				  				<div class="data__bar" style="background-color: {{ data.bar_color }}; height: {{ data.bar_value | append: '%' }}">
				  					<div class="data__value">{{ data.bar_value | append: '%' }}</div>
				  				</div>
				  			</div>
	  					{% endfor %}
			  		</div>
			  		
			  		<div class="data__bar-labels">
						{% for data in graph.data %}
			  				{% if data.bar_label %}
					  			<div class="data__bar-label">{{ data.bar_label }}</div>
		  					{% endif %}
		  				{% endfor %}
			  		</div>

			  		<ul class="data__group-label">
			  			{% for data in graph.data %}
			  				{% if data.group_label %}
			  					<li>{{ data.group_label }}</li>
			  				{% endif %}
			  			{% endfor %}
			  		</ul>

				</li>
			{% endfor %}
	  	</ul>
	</div>
</section>