{% assign comics = include.content %}

<section class="comicStrip">
	<div class="tabBar">
	  <ul class="tabBar__list">
		{% for comicStrip in comics.comicStrips %}
		    <li class="tabBar__item">
			    {% if comicStrip.teacher_name %} 
					{% if forloop.index == 1 %}
			      		<a href="#{{ comicStrip.teacher_name | slugify }}" class="tabBar__anchor active">
					{% else %}
			      		<a href="#{{ comicStrip.teacher_name | slugify }}" class="tabBar__anchor">
					{% endif %}
			      {% if comicStrip.teacher_img_src %} 
			      	<img src="/assets/img/teacher_portraits/{{ comicStrip.teacher_img_src }}">
			      {% endif %}
			      {{ comicStrip.teacher_name }}
			      	</a>
			     {% endif %}
		    </li>
	    {% endfor %}
	  </ul>
	</div>
	<ul class="comicStrip__list">
		{% for comicStrip in comics.comicStrips %}
			{% if forloop.index == 1 %}
				<li id="{{ comicStrip.teacher_name | slugify }}" class="comicStrip__item active">
			{% else %}
				<li id="{{ comicStrip.teacher_name | slugify }}" class="comicStrip__item">
			{% endif %}
				<ul class="comicPanel__list">
					{% for comicPanel in comicStrip.comicPanels %}
						{% if forloop.index == 1 %}
							<li class="comicPanel__item active">
						{% else %}
							<li class="comicPanel__item">
						{% endif %}
							<figure class="comicPanel__link">
								<img src="{{ baseurl }}/{{ comicPanel.img_src }}" class="comicPanel__img"/>
								<figcaption class="comicPanel__caption">{{ comicPanel.caption }}</figcaption>
							</figure>
						</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</div>
</section>