{% assign coursePreview = include.content %}
{% assign index = include.component_index %}
{% assign cardListClass = "coursePreview__card-list" %}

<section class="coursePreview coursePreview-{{ index }}">
	<div class="coursePreview__title">{{ coursePreview.title }}</div>
	<div class="coursePreview__group-title">{{ coursePreview.group_title }}</div>
	<div class="tabBar">
	  	<ul class="tabBar__list">
			{% if coursePreview.courseDomains.size > 1 %} 
				{% for domain in coursePreview.courseDomains %}
					<li class="tabBar__item">
						{% if forloop.index == 1 %}
							<a href="#{{ domain.domain | append: index | slugify }}" class="tabBar__anchor active">{{ domain.domain }}</a>
						{% else %}
							<a href="#{{ domain.domain | append: index | slugify }}" class="tabBar__anchor">{{ domain.domain }}</a>
						{% endif %}
					</li>
		  		{% endfor %}
			{% endif %}
	  		<li class="tabBar__actions">
				{% for domain in coursePreview.courseDomains %}
					{% if forloop.index == 1 %}
						<a class="button active" href="{{ domain.domain_cta_url }}" data-additional-target="#{{ domain.domain | append: index | slugify }}">{{ domain.domain_cta_label }}</a>
					{% else %}
						<a class="button" href="{{ domain.domain_cta_url }}" data-additional-target="#{{ domain.domain | append: index | slugify }}">{{ domain.domain_cta_label }}</a>
					{% endif %}
			  	{% endfor %}
			</li>
	  	</ul>
	</div>

	{% for domain in coursePreview.courseDomains %}

		{% if domain.domain_description %}
			{% if forloop.index == 1 %}
				<p class="coursePreview__group-description active" data-additional-target="#{{ domain.domain | append: index | slugify }}">{{ domain.domain_description }}</p>
			{% else %}
				<p class="coursePreview__group-description" data-additional-target="#{{ domain.domain | append: index | slugify }}">{{ domain.domain_description }}</p>
			{% endif %}
		{% endif %}

		{% if forloop.index == 1 %}
			<ul id="{{ domain.domain | append: index | slugify }}" class="{{ cardListClass | append: ' active' }}">
		{% else %}
			<ul id="{{ domain.domain | append: index | slugify }}" class="{{ cardListClass }}">
		{% endif %}
			<li class="coursePreview__card-item last" style="opacity: 0;"></li>
			{% for card in domain.courseCards %}
				<li class="coursePreview__card-item">
					<div class="coursePreview__card-item-visual">
						<img src="{{ baseurl }}/{{ card.card_img_src }}">
						<div class="coursePreview__card-decoration {{ card.card_group | slugify }}"></div>
					</div>
					<div class="coursePreview__card-item-title">{{ card.card_title }}</div>
				</li>
	  		{% endfor %}
				<li class="coursePreview__card-item first" style="opacity: 0;"></li>
		</ul>
  	{% endfor %}

  	<div class="coursePreview__mobile-actions">
		{% for domain in coursePreview.courseDomains %}
			{% if domain.domain_cta_url %}
				{% if forloop.index == 1 %}
					<a class="button--large active" href="{{ domain.domain_cta_url }}" data-additional-target="#{{ domain.domain | append: index | slugify }}">{{ domain.domain_cta_label }}</a>
				{% else %}
					<a class="button--large" href="{{ domain.domain_cta_url }}" data-additional-target="#{{ domain.domain | append: index | slugify }}">{{ domain.domain_cta_label }}</a>
				{% endif %}
			{% endif %}
	  	{% endfor %}
  	</div>

</section>