{% assign featureGrid = include.content %}

{% if featureGrid.cardLayout == true  %}
<section class="featureGrid featureCards">
{% else %}
<section class="featureGrid">
{% endif %}
	<div class="featureGrid__title">{{ featureGrid.title }}</div>
		<ul class="featureGrid__list">
			{% for featureGridItem in featureGrid.featureGridItems %}
				<li class="featureGrid__item">
					<div class="featureGrid__item-visual">
						<img src="{{ featureGridItem.img_src }}">
					</div>
	            	{% if featureGridItem.badge %} 
						<div class="featureGrid__item-badge">{{ featureGridItem.badge }}</div>
	            	{% endif %} 
					<div class="featureGrid__item-title">{{ featureGridItem.title }}</div>
	            	{% if featureGridItem.description %} 
						<div class="featureGrid__item-description">{{ featureGridItem.description }}</div>
					{% endif %}
	            	{% if featureGridItem.cta_url %} 
						<a href="{{ featureGridItem.cta_url }}" class="featureGrid__anchor button">{{ featureGridItem.cta_label }}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>