{% assign hero = include.content %}

<section class="hero">
    <div class="hero__content">
        <div class="hero__info-container">
        
            {% if hero.supertitle %} 
                <div class="hero__supertitle">{{ hero.supertitle }}</div>
            {% endif %}

            {% if hero.title %} 
                <h1 class="hero__title">{{ hero.title }}</h1>
            {% endif %}

            {% if hero.description %} 
                <p class="hero__description">{{ hero.description }}</p>
            {% endif %}

            {% if hero.cta_url %} 
                <a href="{{ hero.cta_url }}" class="button--large hero__cta">{{ hero.cta_label }}</a>
            {% endif %}

        </div>
        <div class="hero__visual large-visual" style="background-image: url(' {{ hero.img_src }} ')"></div>
    </div>
    {% if include.directional_arrow == true %} 
        {% include /components/directionalArrow.html %}
    {% endif %}
</section>