{% assign interstitial = include.content %}

{% if interstitial.component_large == true %}
<section class="interstitial interstitial__large">
	{% if interstitial.title %}
		<div class="interstitial__title">{{ interstitial.title }}</div>
	{% endif %}
	{% if interstitial.cta_label %}
		<a href="{{ interstitial.cta_link }}" class="interstitial__anchor button">{{ interstitial.cta_label}}</a>
	{% endif %}
{% else %}
<section class="interstitial interstitial__small">
	{% if interstitial.cta_label %}
		<a href="{{ interstitial.cta_link }}" class="interstitial__anchor button--blue">{{ interstitial.cta_label}}</a>
	{% endif %}
	{% if interstitial.description %}
		<div class="interstitial__description">{{ interstitial.description }}</div>
	{% endif %}
{% endif %}

</section>