{% assign interstitial = include.content %}

{% if interstitial.component_large == true %}
<section class="interstitial interstitial__large">
	<div class="interstitial__title">{{ interstitial.title }}</div>
	<a class="interstitial__anchor button">{{ interstitial.cta_label}}</a>
{% else %}
<section class="interstitial interstitial__small">
	<a class="interstitial__anchor button--blue">{{ interstitial.cta_label}}</a>
	<div class="interstitial__description">{{ interstitial.description }}</div>
{% endif %}

</section>