{% assign preFooter = include.content %}

{% assign left_title = "Try Albert for free" %}
{% assign left_description = "Build confidence and educator buy-in with an Albert trial supported by a dedicated member of our Schools team." %}
{% assign left_cta_label = "Apply" %}
{% assign left_cta_url = "no-url-set" %}

{% assign right_title = "Get a consultation" %}
{% assign right_description = "Explore how Albert can help your school meet its instructional goals with one of our Schools team members."" %}
{% assign right_cta_label = "Request demo" %}
{% assign right_cta_url = "https://www.albert.io/schools/request-demo" %}


<section class="preFooter">
    <div class="preFooter__left">
        <div class="preFooter__visual">
            <img src="{{ baseurl }}/{{ preFooter.left.img_src | default: 'assets/img/random-img.svg' }}"/>
        </div>
        <div class="preFooter__info-container">
            <div class="preFooter__title">{{ preFooter.left.title | default: left_title  }}</div>
            <p class="preFooter__description">{{ preFooter.left.description | default: left_description }}</p>
            <a href="{{ preFooter.left.cta_url | default: left_cta_url }}" class="preFooter__cta button--white">{{ preFooter.left.cta_label | default: left_cta_label }}</a>
        </div>
    </div>
    <div class="preFooter__right">
        <div class="preFooter__visual">
            <img src="{{ baseurl }}/{{ preFooter.right.img_src | default: 'assets/img/random-img.svg' }}"/>
        </div>
        <div class="preFooter__info-container">
            <div class="preFooter__title">{{ preFooter.right.title | default: right_title  }}</div>
            <p class="preFooter__description">{{ preFooter.right.description | default: right_description }}</p>
            <a href="{{ preFooter.right.cta_url | default: right_cta_url }}" class="preFooter__cta button--white">{{ preFooter.right.cta_label | default: right_cta_label }}</a>
        </div>
    </div>
</section>