{% assign slideshow = include.content %}
{% assign anchorClass = "tabBar__anchor" %}

<section class="{{ "slideshow slideshow-" | append: include.component_index }}">
	<div class="slideshow__title">{{ slideshow.title }}</div>
	<div class="slideshow__description">{{ slideshow.description }}</div>
	<div class="slideshow__nav">
		<ul class="slideShow__nav-list">
		{% for slideshowItem in slideshow.slideshowItems %}
			<li class="slideshow__nav-item">
				{% if forloop.index == 1 %}
					<a href="#{{ slideshowItem.title | slugify }}" data-index="first" class="slideshow__anchor active">
				{% elsif forloop.last %}
					<a href="#{{ slideshowItem.title | slugify }}" data-index="last" class="slideshow__anchor">
				{% else %}
					<a href="#{{ slideshowItem.title | slugify }}" class="slideshow__anchor">
				{% endif %}
						<div class="slideshow__nav-item-title">{{ slideshowItem.title }}</div>
						<div class="slideshow__nav-item-description">{{ slideshowItem.description }}</div>
					</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="slideshow__display">
		<ul class="slideshow__display-list">
		<a class="directionalArrow previous disabled" href="#component_previous"><i class="fa fa-chevron-left"></i></a>
		<a class="directionalArrow next" href="#component_next"><i class="fa fa-chevron-right"></i></a>
		{% for slideshowItem in slideshow.slideshowItems %}
			{% if forloop.index == 1 %}
				<li id="{{ slideshowItem.title | slugify }}" class="slideshow__display-item active">
			{% else %}
				<li id="{{ slideshowItem.title | slugify }}" class="slideshow__display-item">
			{% endif %}
				<img src="{{ baseurl }}/{{ slideshowItem.img_src }}"/>
			</li>
		{% endfor %}
		</ul>
	</div>
</section>