{% assign stagger = include.content %}

<section class="stagger">
	<div class="stagger__title">{{ stagger.title }}</div>
	<ul class="stagger__list">
		{% for staggerItem in stagger.staggerItems %}
		<li class="stagger__item">
			<div class="stagger__item-info">
				<div class="stagger__item-supertitle">{{ staggerItem.supertitle}}</div>
				<div class="stagger__item-title">{{ staggerItem.title}}</div>

				{% if staggerItem.cta_url %}
				<a href="{{ staggerItem.cta_url }}" class="stagger__item-anchor button">{{ staggerItem.cta_label}}</a>
				{% endif %}
				
			</div>
			<div class="stagger__item-visual">
            	<img src="{{ staggerItem.img_src }}"/>
			</div>
		</li>
		{% endfor %}
	</ul>
</section>
