.barGraph {
	@include section-spacing;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding-left: 0;
	padding-right: 0;

	.component__info-wrapper {
		max-width: rem(500);
		margin-right: auto;
		margin-left: auto;
		padding-left: $container-spacing-mobile;
		padding-right: $container-spacing-mobile;

		.component__title {
			@include fancy-title-medium;
			margin-bottom: rem(20);
		}

		.component__description {
			@include component-description;
			margin-bottom: 0;
			margin-left: 0;
		}
	}

	.graph__wrapper {
		background-color: #FFFFFF;
		box-shadow: $shadow_depth_5;
		border-radius: rem(10);
		margin-top: rem(40);
		margin-right: auto;
		margin-left: auto;
		padding-top: rem(20);
		padding-bottom: rem(20);
		overflow-x: hidden;
		position: relative;
		width: 90%;

		.tabBar {
			box-shadow: 0 -1px 0 $iron-grey inset;

			& + .graphs .graph__item .data__title {
				padding: rem(25) 0 rem(20) 0;
			}
		}

		.graphs {
			display: flex;

			.graph__item {
				max-width: 0%;
				width: 0%;
				height: 0px;
				overflow: hidden;

				&.active {
					min-width: 100%;
					width: 100%;
					height: auto;
					max-height: 100%;

					.data__info-container {

						.data__value-wrapper {
							max-height: 100%;
							transition: max-height .5s ease-in-out;
							transition-delay: .15s;

							.data__value {
					    		opacity: .9;
								transition: opacity .3s ease-in;
								transition-delay: .2s;
							}

							.data__bar {
							}

						}

					}
				}

				.data__title {
					@include fancy-title-small;
					padding: 0 0 rem(20) 0;
					border-bottom: 1px solid $iron-grey;
					background-color: #FFFFFF;
					box-shadow: 0 0 30px rgba(black, .06);
				}

				.data__info-container {
					$data-height: rem(250);
					display: flex;
					height: $data-height;
					position: relative;
					border-bottom: 1px solid $menuBorder;

					.data__markers {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						height: $data-height;

						&:before,
						&:after {
							content: "";
							position: absolute;
							left: 0;
							right: 0;
							width: 100%;
							height: $data-height / 4;
						}

						&:before {
							top: 0;
							border-bottom: 1px solid $menuBorder;
						}

						&:after {
							border-top: 1px solid $menuBorder;
							bottom: 0;
						}

						.data__middle-marker {
							height: $data-height / 2;
							border-bottom: 1px solid $iron-grey;
							position: absolute;
							top: 0;
							width: 100%;
						}
					}

					.data__value-wrapper {
						flex: 1;
					    display: flex;
					    flex-direction: column;
					    justify-content: flex-end;
					    position: relative;
						height: 100%;
						max-height: 0%;
						transition: max-height .5s ease-in;
						align-self: flex-end;
						transition-delay: .15s;

					    ~ .data__value-wrapper {
					    	padding-left: rem(4);
					    }

					    .data__value {
					    	position: absolute;
					    	left: 0;
					    	right: 0;
					    	font-weight: 600;
					    	font-size: rem(16);
					    	opacity: 0;
							// transform: translateY( rem(-30) );
							transition: opacity .3s ease-in;
							transition-delay: .2s;
    						color: $text-black--lighter_step_3;
							max-width: rem(200);
							margin-right: auto;
							margin-left: auto;


						&.inside-bar {
					    		padding-top: rem(15);
					    		color: #FFF;
					    		transform: none;
							    left: 0;
							    right: 0;
							    max-width: 106px;
							    margin: auto;
							    opacity: 1;
							}
					    }

					    .data__bar {
						    width: 100%;
						    max-width: rem(100);
						    min-width: rem(35);
						    margin: 0 auto;
						    background-color: $primary-green;
						    border-top-left-radius: rem(5);
						    border-top-right-radius: rem(5);
					    }
					}
				}

				.data__bar-labels {
				    display: flex;
				    justify-content: space-around;
					position: relative;
					z-index: 10;
					background-color: #FFFFFF;
					box-shadow: 0 0 30px rgba(black, .06);

					> * {
						margin-top: rem(20);
						flex: 1;
					}

					& + .data__group-label {
						box-shadow: none;
					}
				}

				.data__group-label {
					display: flex;
					position: relative;
					z-index: 11;
					background-color: #FFFFFF;
					box-shadow: 0 0 30px rgba(black, .06);
					color: $text-black--lighter_step_3;

					li {
						@include fancy-title-small;
						flex: 1;
						padding-top: rem(30);
					}
				}
			}
		}
	}

	// .directionalArrow {
	// 	$size: 70;

	//     &.next,
	//     &.previous {
	//     	position: absolute;
	//     	top: 0;
	//     	bottom: 0;
	//     	margin: auto;var
	//     	opacity: .5;

	//     	&:hover {
	//     		opacity: 1;
	//     	}

	//     	&:active {
	//     		box-shadow: $shadow_depth_4;
	//     	}
	//     }

	//     &.next {
	//     	right: rem(($size/2 * -1)-10);

	//     	i {
	//     		right: rem(20);
	//     	}
	//     }

	//     &.previous {
	//     	left: rem(($size/2 * -1)-10);

	//     	i {
	//     		left: rem(20);
	//     	}
	//     }

	// }
}

@media only screen and (min-width: $s-viewport) {
	.barGraph {
		.graph__wrapper {
			width: 80vw;
			max-width: rem(800);
			margin-top: rem(40);
		}

		.component__info-wrapper {

			.component__description {
				margin-bottom: rem(40);
			}
		}
	}
}


@media only screen and (min-width: $m-viewport) {
	.barGraph {
		flex-direction: row-reverse;
		justify-content: center;

		.graph__wrapper {
			margin-left: $container-spacing;
		}

		.component__info-wrapper {
			text-align: left;
			max-width: 40%;
			width: rem(700);
			margin-right: $container-spacing;
			margin-left: 0;

			.component__description {
				text-align: left;
			}
		}

		.graph__wrapper {
			margin-top: 0;
			margin-right: rem(60);
		}
	}
}