.comicStrip {
	@include section-spacing($sides: false);
	max-width: $xxl-viewport;
	margin-left: auto;
	margin-right: auto;

	.tabBar {
		box-shadow: none;

		.tabBar__list {
			justify-content: left;
			padding-top: rem(20);
			padding-bottom: rem(20);

			.tabBar__item {
				.tabBar__anchor {
					text-transform: none;

					&.active {
						transform: scale(1.2);
						transition: transform .2s ease-in-out;
						box-shadow: none;

						img {
							transform: scale(1.2);
							transition: transform .2s ease-in-out;
						}
					}

					&:hover {
						color: $link;
					}
				}
			}
		}
	}

	.comicStrip__list {
		padding-left: $container-spacing;
		padding-right: $container-spacing;

		.comicStrip__item {
			margin: rem(20) 0;
			display: none;

			&.active {
				display: flex;
			}

			.comicPanel__list {
				display: flex;
				border: 1px solid #dedede;
				border-radius: rem(10);
				overflow: hidden;
				box-shadow: $shadow_depth_6;
				flex-wrap: wrap;

				&:hover {
					.comicPanel__item {
						filter: grayscale(100%);
						transition: filter .2s ease-in-out;	
					}
				}

				.comicPanel__item {
					width: 25%;
					text-align: center;
					border-right: 1px solid $text_light_grey;
					min-width: rem(250);
					flex: 1;

					&:hover {
						filter: grayscale(0%);
					}

					&:last-child {
						margin-right: 0;
						border-right: 0px solid transparent;
					}

					.comicPanel__link {
						display: flex;
						flex-direction: column;
						width: 100%;
						position: relative;;

						.comicPanel__img {
							width: 100%;
							height: auto;
						}

						.comicPanel__caption {
							width: 100%;
							max-width: rem(400);
							text-align: left;
							padding: rem(10);
							color: $text_grey;
						    font-size: rem(14);
						    line-height: 24px;
						    position: absolute;
						    background-color: rgba(white, .65);
						    bottom: 0;
						    border-radius: rem(10);
						    left: rem(20);
						    right: rem(20);
						    width: auto;
						    bottom: rem(20);
						    margin: auto;
							transition: background-color .2s ease-in-out;
						}
					}
				}
			}
		}
	}
}