.comicStrip {
	@include section-spacing;
	max-width: $xxl-viewport;
	margin-left: auto;
	margin-right: auto;

	.tabBar {
		.tabBar__list {
			justify-content: left;

			.tabBar__item {
				.tabBar__anchor {
					text-transform: none;
				}
			}
		}
	}

	.comicStrip__list {

		.comicStrip__item {
			margin: rem(20) 0;
			display: none;

			&.active {
				display: flex;
			}

			.comicPanel__list {
				display: flex;
				border: 1px solid #dedede;
				border-radius: rem(10);
				overflow: hidden;
				box-shadow: $shadow_depth_6;

				.comicPanel__item {
					width: 25%;
					// background-color: $bgGrey--darker;
					text-align: center;
					border-right: 1px solid #dedede;

					&:last-child {
						margin-right: 0;
						border-right: 0px solid transparent;
					}

					&:hover {
						img {
							transition: filter .1s ease-in-out;
							filter: grayscale(0%);
						}
					}

					.comicPanel__link {
						display: flex;
						flex-direction: column;
						width: 100%;

						.comicPanel__img {
							width: 100%;
							height: auto;
						}

						.comicPanel__caption {
							width: 100%;
							text-align: left;
							padding: rem(35);
							color: $text_grey;
						    font-size: rem(14);
						    line-height: 26px;
						}
					}
				}
			}
		}
	}
}