.coursePreview {
	padding-top: $section-padding;
	padding-bottom: $section-padding;
	display: flex;
	align-items: center;
	flex-direction: column;

	.tabBar {
		margin-bottom: rem(30);
	}

	.coursePreview__title {
		@include fancy-title-medium;
		text-align: center;
		margin-bottom: rem(80);
	}

	.coursePreview__group-title {
		@include title-medium;
		margin-bottom: rem(40);
	}

	.coursePreview__group-description {
		margin-bottom: rem(20);
		display: none;
		text-align: center;
		padding-left: 4vw;
		padding-right: 4vw;

		&.active {
			display: block;
		}
	}

	.coursePreview__card-list {
		display: none;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		max-width: rem(1200);

		&.active {
			display: flex;
		}

		&:after {
		    position: absolute;
		    width: 8vw;
		    background-color: red;
		    height: 100%;
		    z-index: $course-preview-end-overlay;
		    right: 0;
		    opacity: .5;
			background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}

		.coursePreview__card-item {
			$card-width: rem(310);
			$card-height: rem(100);

			position: relative;
			color: #FFFFFF;
			background-color: $link;
			border-radius: rem(10);
			box-shadow: 0 2px 20px rgba($link, .25), $shadow_depth_6; //shadow_depth_5
			overflow: hidden;
			position: relative;
			min-width: $card-width;
			max-width: $card-width;
			min-height: $card-height;
			max-height: $card-height;
			margin: rem(15);
			padding-left: rem(30);
			padding-right: rem(60);
			display: flex;
			align-items: center;

			&:last-child {
				padding: rem(30);
				text-align: center;
				transition: transform .1s ease-in-out;


				.coursePreview__card-item-title {
					transition: transform .1s ease-in-out;
					width: 100%;
				}

				&:hover {
					transform: scale(1.01);
					transition: transform .1s ease-in-out;

					.coursePreview__card-item-title {
						transform: scale(1.1);
						transition: transform .1s ease-in-out;
					}
				}
			}

			&:hover {
				// if you want the icon to do some fun animation on hover
			}

			// Generate course color classes
			@each $course-name, $course-color in $course-color-map {
				&.#{$course-name} {
					background-color: $course-color;
					box-shadow: 0 2px 20px rgba($course-color, .25), $shadow_depth_6; //shadow_depth_5
				}
			}

			.coursePreview__card-item-visual {
				text-align: center;
				position: absolute;
				height: rem(140);
				right: rem(-20);
				top: rem(-8);
				opacity: .25;

				img {
					height: 100%;
					width: auto;
				}
			}

			.coursePreview__card-item-title {
				@include title-small;
				line-height: 1.1;
				text-shadow: 0px 1px 2px rgba(black, .3);
				color: #FFFFFF;;
			}
		}
	}


	.tabBar__actions {
		display: none;
	}

	.coursePreview__mobile-actions {
    	display: flex;
    	justify-content: center;
		margin-top: rem(40);
	}

	[data-additional-target] {
		display: none;

		&.active {
			display: block;
		}
	}
}

@media only screen and (min-width: $s-viewport) {
	// .coursePreview {
	// 	> *:not(.coursePreview__card-list) {
	//     	max-width: $container-width-slim;
	//     	margin-right: auto;
	//     	margin-left: auto;
	// 		padding-left: $container-spacing;
	// 		padding-right: $container-spacing;
	// 	}

	// 	.coursePreview__group-description {
	// 		max-width: rem(600);
	// 	}

	// 	.coursePreview__card-list {

	// 		.coursePreview__card-item {
	// 			$card-width: rem(250);

	// 			max-width: $card-width;
	// 			min-width: $card-width;
	// 			margin-right: rem(15);

	// 			.coursePreview__card-item-title {
	// 				padding: rem(40) rem(30);
	// 			}
	// 		}
	// 	}
	// }
}