.coursePreview {
	padding-top: $section-padding;
	padding-bottom: $section-padding;
	display: flex;
	align-items: center;
	flex-direction: column;

	.coursePreview__title {
		@include fancy-title-medium;
		text-align: center;
		margin-bottom: rem(80);
	}

	.coursePreview__group-title {
		@include title-medium;
		margin-bottom: rem(40);
	}

	.coursePreview__group-description {
		margin-top: rem(40);
		margin-bottom: 0;
		display: none;
		text-align: center;
		padding-left: 4vw;
		padding-right: 4vw;

		&.active {
			display: block;
		}
	}

	.coursePreview__card-list {
		display: none;
		max-width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		flex-direction: row;

		&.active {
			display: inline-flex;
		}

		// adds spacing for scrolling through cards
		&:after,
		&:before {
			content:"";
			min-width: rem(30);
		}

		&:after {
		    position: absolute;
		    width: 8vw;
		    background-color: red;
		    height: 100%;
		    z-index: $course-preview-end-overlay;
		    right: 0;
		    opacity: .5;
			background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}

		.coursePreview__card-item {
			$card-width: rem(150);
			$card-height: rem(300);

			position: relative;
			background-color: #FFFFFF;
			border-radius: rem(10);
			box-shadow: $shadow_depth_6;
			overflow: hidden;
			position: relative;
			z-index: 1;
			color: $text_black;
			min-width: $card-width;
			max-width: $card-width;
			max-height: $card-height;
			margin-top: rem(40);
			margin-right: rem(5);
			margin-left: rem(15);
			margin-bottom: rem(20);
			border: 1px solid $menuBorder;

			&.first{
				width: 25vw
			}

			&.last{
				width: 25vw
			}

			&:hover {
				// if you want the icon to do some fun animation on hover
			}

			.coursePreview__card-item-visual {
				text-align: center;
				position: relative;
				z-index: 2;

				img {
					margin-top: rem(40);
					height: rem(70);
				}

				.coursePreview__card-decoration {
					position: relative;
					height: rem(40);
					z-index: -1;

					&:after {
						content: "";
						position: absolute;
						bottom: 0;
						border-radius: 100%;
					    left: 50%;
					    -webkit-transform: translateX(-50%);
					    transform: translateX(-50%);
					    width: 250%;
					    background-color: $link;
					    z-index: 1;
					    height: 200px;
					}

					// Generate course color classes
					@each $course-name, $course-color in $course-color-map {
						&.#{$course-name}:after {
							background-color: $course-color;
						}
					}
				}
			}

			.coursePreview__card-item-title {
				color: $course-card-title;
				font-size: rem(18);
				text-align: center;
				padding: rem(20) rem(15);
				width: 100%;
				line-height: rem(22);
			}
		}
	}


	.tabBar__actions {
		display: none;
	}

	.coursePreview__mobile-actions {
    	display: flex;
    	justify-content: center;
		margin-top: rem(40);
	}

	[data-additional-target] {
		display: none;

		&.active {
			display: block;
		}
	}
}

@media only screen and (min-width: $s-viewport) {
	.coursePreview {
		> *:not(.coursePreview__card-list) {
	    	max-width: $container-width-slim;
	    	margin-right: auto;
	    	margin-left: auto;
			padding-left: $container-spacing;
			padding-right: $container-spacing;
		}

		.coursePreview__group-description {
			max-width: rem(600);
		}

		.coursePreview__card-list {

			.coursePreview__card-item {
				$card-width: rem(250);

				max-width: $card-width;
				min-width: $card-width;
				margin-right: rem(15);

				.coursePreview__card-item-title {
					padding: rem(40) rem(30);
				}
			}
		}
	}
}