.featureList {
	@include section-spacing;
	margin: 0 auto;
	display: flex;
    flex-direction: column;
    align-items: center;

	.featureList__title {
		@include fancy-title-medium;
		margin-bottom: rem(15);
		max-width: rem(500);
		text-align: center;
	}

	.featureList__description {
		max-width: rem(500);
		text-align: center;
		line-height: 1.5em;
	}

	.featureList__list {
		display: flex;
		flex-direction: column;
		max-width: $xxs-viewport;
		margin-left: auto;
		margin-right: auto;
   		margin-top: rem(80);

		.featureList__item {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			margin-bottom: rem(60);
			padding: rem(30) 0;

			.featureList__item-info {
				text-align: center;

				.featureList__item-supertitle {
					@include fancy-title-xs;
					margin-bottom: rem(10);
				}

				.featureList__item-title {
					@include title-medium;
				}

				.featureList__item-anchor{
					margin-top: rem(30);
				}
			}

			.featureList__item-visual {
				margin-bottom: rem(20);
				max-width: rem(150);
				width: rem(150);
				max-height: rem(150);

				img {
    				width: 100%;
    				height: auto;
				}
			}
		}
	}
}

@media only screen and (min-width: $s-viewport) {
	.featureList {

		.featureList__title {
			margin-bottom: rem(40);
		}

		.featureList__list {
			max-width: $xl-viewport;

			.featureList__item {
				flex-direction: row-reverse;
				margin-bottom: rem(80);

				&:nth-child(even) {
					flex-direction: row;

					.featureList__item-info {
						margin-right: rem(80);
					}
				}

				.featureList__item-info {
					flex: 1;
					text-align: left;
					margin-left: rem(80);

					.featureList__item-supertitle {
					}

					.featureList__item-title {
					}

					.featureList__item-anchor{
						margin-top: rem(50);
					}
				}

				.featureList__item-visual {
					flex: 1;
					width: rem(450);
					max-width: rem(600);
					max-height: rem(400);
					margin-bottom: 0;

					img {
					}
				}
			}
		}
	}
}

