.featureGrid {
	@include section-spacing;
	// padding-bottom: 0;
	margin: 0 auto;

	.featureGrid__title {
		@include fancy-title-medium;
		text-align: center;
		margin-bottom: rem(80);
	}

	.featureGrid__list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		.featureGrid__item {
			text-align: center;
		    max-width: rem(400);
		    margin: 0 auto;
			padding: rem(20);
			border-radius: rem(10);
			margin-bottom: rem(20);
			margin-top: rem(20);
			background-color: #FFFFFF;

			&:nth-child(odd) {
				background-color: $bgGrey;
			}

			.featureGrid__item-visual {
				height: rem(120);
				margin-bottom: rem(50);

				img {
					height: 100%;
					width: auto;
				}
			}

			.featureGrid__item-title {
				@include fancy-title-small;
				margin-bottom: rem(15);
			}

			.featureGrid__item-description {
				margin-bottom: 0;
				color: $text-black--lighter_step_2;
				font-size: rem(14);
			}

			.featureGrid__anchor  {
				margin-top: rem(40);
			}
		}
	}

	&.featureCards {

		$imgHeight: 150;

		.featureGrid__title {
			text-align: center;
			margin-bottom: rem(80+($imgHeight/2));
		}

		.featureGrid__list {

			.featureGrid__item, {
				background-color: #FFFFFF;
				box-shadow: $shadow_depth_4;
				border-radius: rem(10);
				padding: rem(30);
				margin-bottom: rem(100+($imgHeight/4));
				padding-top: rem(100);
				position: relative;
				width: 100%;

				&:nth-child(odd) {
					background-color: #FFFFFF;
				}

				.featureGrid__item-visual {
					position: absolute;
					border-radius: 50%;
					overflow: hidden;
					background-color: #FFFFFF;
					box-shadow: $shadow_depth_4;
					width: rem($imgHeight);
					height: rem($imgHeight);
					top: rem(-($imgHeight/2));
					left: 0;
					right: 0;
					margin: auto;

					img {

					}
				}

				.featureGrid__item-title {
				}

				.featureGrid__item-description {
					text-align: center;
				}
			}
		}
	}
}

@media only screen and (min-width: $s-viewport) {
	.featureGrid {

		.featureGrid__title {
			margin-bottom: rem(140);
		}

		.featureGrid__list {
			flex-direction: row;
			justify-content: center;
			max-width: rem(1200);
			margin: 0 auto;

			.featureGrid__item {
				margin-bottom: rem(100);
				flex: 0 1 300px;
				margin-left: 5%;
				margin-right: 5%;
				background-color: transparent;

				// &:nth-child(odd) {
				// 	background-color: transparent;
				// }

				.featureGrid__item-visual {
					height: rem(160);

					img {
						height: 100%;
						width: auto;
    					max-width: 100%;
					}
				}
			}
		}

		&.featureCards {
			.featureGrid__list {
				.featureCards__item {
					background-color: #FFFFFF;
				}
			}
		}
	}
}

@media only screen and (min-width: $s-viewport) {
	.featureGrid {
		.featureGrid__list {
			.featureGrid__item {
				&:nth-child(odd) {
					background-color: transparent;
				}
			}
		}
	}
}

@media only screen and (min-width: $xxl-viewport) {
	.featureGrid {
		.featureGrid__list {
			max-width: 100%;

			.featureGrid__item {
				flex: 1;
				margin-left: 3%;
				margin-right: 3%;
			}
		}
	}
}