.gridComponent {
	max-width: 90vw;
	margin: 0 auto;

	.gridComponent__title {
		text-align: center;
		margin-bottom: rem(40);
	}

	.gridItems {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		.gridItem {
			min-width: 100%;
			text-align: center;
			flex: 1;
			margin-bottom: rem(20);

			.gridItem__visual {
				height: rem(120);
				margin-bottom: rem(30);

				img {
					height: 100%;
					width: auto;
				}
			}
		}
	}
}

@media only screen and (min-width: $s-viewport) {
	.gridComponent {

		.gridItems {
			flex-direction: row;

			.gridItem {
				min-width: 40%;
				margin-bottom: rem(100);

				.gridItem__visual {
					height: rem(160);

					img {
						height: 100%;
						width: auto;
					}
				}
			}
		}
	}
}