.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $nav-height $container-spacing 0 $container-spacing;
    position: relative;

	.hero__content {
		width: 100%;
    	display: flex;
    	flex-direction: column;
		height: calc(100vh - #{$nav-height});
		width: (100 - 16) * 1vw;
		position: relative;

		.hero__info-container {
			margin-top: 8vh;
			z-index: 1;

			.hero__supertitle {
				@include super-title;
				margin-bottom: rem(10);
				letter-spacing: rem(.8);
			}

			.hero__title {
				@include page-title;
				margin-bottom: rem(40);
			}

			.hero__description {
				font-size: rem(18);
				color: $text_light_grey;
				margin-bottom: 0;
			}

			.hero__cta {
				margin-top: rem(50);
			}
		}

		.hero__visual {
			position: absolute;
			background-repeat: no-repeat;
		    width: 100%;
		    height: 100%;
		    bottom: 0;
		    left: 0;
		    background-position: bottom;
		    background-size: 90%;
		}

	}

}

@media only screen and (min-width: $s-viewport) {
	.hero {

		.hero__content {
			flex-direction: row;
			align-items: center;

			.hero__info-container {
				margin-top: 0;
				max-width: 50vw;
				min-width: 40vw;

				.hero__description {
					max-width: rem(400);
					line-height: 1.6em;
				}
			}

			.hero__visual {
				flex: 1;
			    position: relative;
		    	background-position: center;
			}
		}
	}
}