.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $nav-height $container-spacing 0 $container-spacing;
    min-height: 600px;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: auto 35%;

	.hero__content {
		width: 100%;
    	display: flex;
    	flex-direction: column;
		height: calc(100vh - #{$nav-height});
		width: (100 - 16) * 1vw;

		.hero__info-container {
			margin-top: 8vh;

			.hero__supertitle {

			}

			.hero__title {
				
			}

			.hero__description {
				
			}

			.hero__cta {

			}

		}

		.hero__visual {
			img	{
				display: none;
				max-width: 100%;
			}

		}

	}

}

@media only screen and (min-width: $s-viewport) {
	.hero {
	    background-size: 90%;
	    background-position-x: 30vw;
	    background-position-y: center;
	    background-origin: content-box;

		.hero__content {
			flex-direction: row;
			align-items: center;

			.hero__info-container {
				margin-top: 0;
				max-width: 40vw;
			}
		}
	}
}