section.leadGen {
	.fsBody {
		margin-top: $nav-height !important;
		background-color: #FFFFFF;
		padding-top: $container-spacing-mobile !important;
		padding-bottom: $container-spacing-mobile !important;
	 
		.fsForm {
			box-shadow: 0 0 0 1px $menuBorder, $shadow_depth_6 !important;

			.fsSectionHeading {
				@include fancy-title-small;
			}

			.fsSubmit.fsPagination {
				max-width: 250px !important;
			}
		}
	}

	&.modal {
		display: none;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(black, .6);
		height: 100%;
		overflow: auto;
		z-index: $form-index;

		.fsBody {
			background-color: transparent;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;

			.fsForm {
				box-shadow: $shadow_depth_4 !important;
			}
		}

		&.active {
			display: block;
		}
	}
}