$nav-padding: rem(20);

.mainNav {
	position: fixed;
	width: 100%;
	height: $nav-height;
	z-index: $nav-index;
	padding: 0 $container-spacing;
	color: #FFFFFF;
	background-color: $nav-background-color;
	transition: all .1s ease-in-out;

	&.mobile--open {
		background-color: #FFFFFF;

		.mainNav__mobile-toggle {
			color: $link;
		}

		header {
			.mainNav__logo {
				svg {
					path {
						fill: $nav-background-color;
					}
				}
			}
		}
	}

	header {
		display: flex;
		height: 100%;
		align-items: center;
		flex-direction: row;

		.mainNav__logo {
    		align-items: center;
    		display: flex;

    		svg {
				max-height: $nav-height;
				height: rem(35);
				width: auto;
    		}
		}

		.mainNav__mobile-toggle {
			align-items: center;
			display: flex;
			margin-left: auto;
			position: relative;
			height: $nav-height;

			.toggle--close,
			.toggle--open {
				position: absolute;
				right: 0;
				display: flex;
			    font-size: rem(25);
			    text-align: center;
			    min-width: rem(20);
			    opacity: 0;
			    pointer-events: none;
			    transition: opacity .1s ease-in-out;
			    line-height: $nav-height;

				&.active {
			    	opacity: 1;
			    	cursor: pointer;
			    	pointer-events: all;
				}
			}
		}

		nav {
			display: none;
			position: fixed;
			background-color: $nav-background-color;
			width: 100%;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    top: $nav-height;
		    border-top: 1px solid rgba(white, .25);
			flex-direction: column;
			overflow-y: scroll;

		    &.active {
		    	display: flex;
		    }

			ul {

				> li {
					padding-left: rem(20);

    				&:hover,
    				&:focus {
    					background-color: rgba(0,0,0,.05);
    				}
				}

				li {	
					font-size: rem(15);
					margin-left: 0;
					margin-right: 0;
					border-bottom: 1px solid rgba(white, .2);
					line-height: $nav-height;
					color: white;

					a {
						font-size: rem(15);
						display: block;
						color: inherit;
						// line-height: $nav-height/1.25;
					}

					&.nav__dropdown {
						cursor: pointer;
						// line-height: $nav-height/1.25;
						display: block;

						i {
							pointer-events: none;
							margin-left: rem(10);
						}

						&.active {
    						background-color: rgba(0,0,0,.05);

	    					ul {
	    						opacity: 1;
	    						left: initial;
	    						height: auto;
	    						transition: opacity .2s ease-in-out;
	    						pointer-events: initial;
	    						border-top: 1px solid rgba(white, .2);
	    					}
						}
					}

					ul {
    					display: flex;
    					flex-direction: column;
    					flex: 1;
						padding-left: rem(20);
	    				background-color: #FFFFFF;
    					opacity: 0;
    					padding-left: 0;
    					height: 0;
						margin-left: rem(-20);
    					pointer-events: none;
	    				color: $text_grey;

						.nav__subitem-group-title {
	    					@include fancy-title-small;
	    					padding-left: rem(20);
						}

	    				li {
							padding-left: rem(20);
							padding-right: rem(20);
		    				color: $text_grey;

	    					a {
	    						display: flex;
	    						cursor: pointer;

	    						&:hover {
	    							color: $link;
	    						}

    							.nav__subitem-visual {
	    							position: relative;
    								height: rem(50);
    								max-width: rem(50);
    								min-width: rem(50);
	    							margin-right: rem(20);
    								border-radius: 50%;
    								background-color: $danube-blue;
    								overflow: hidden;
    								margin-top: rem(20);

									// Generate course color classes
									@each $course-name, $course-color in $course-color-map {
										&.#{$course-name} {
											background-color: $course-color;
										}
									}

	    							img {
									    max-height: 100%;
									    width: 70%;
									    margin: auto;
									    top: 0;
									    left: 0;
									    right: 0;
									    bottom: 0;
									    position: absolute;
	    							}
    							}

	    						.nav__subitem-info-container {
	    							pointer-events: none;
    								margin-top: rem(20);
    								margin-bottom: rem(20);

	    							.nav__subitem-title {
	    								@include title-xs;
	    								font-weight: bold;
	    								line-height: initial;
	    								margin-bottom: rem(5);	
	    							}

	    							.nav__subitem-description {
	    								line-height: initial;
	    								font-size: rem(13);
	    								color: $oslo-grey;
	    							}
    							}
	    					}
	    				}
					}
				}

				&.mainNav__nav {
					display: block;
				}

				&.mainNav__account {
					display: flex;
					flex-direction: column;
					margin-left: 0;

					.button--sign-up {
						display: inline-block;
					    border: 0px solid transparent;
					    padding: 0 rem(15);
					    color: $link;
					    line-height: rem(40);
					}
				}
			}

		}
	}

    // @media only screen and (min-width: $m-viewport) {
   		// &.mobile--open {
   		// 	background-color: $link;
   		// }
    // 	header {
    // 		.mainNav__mobile-toggle {
    // 			display: none;
    // 		}

    // 		nav {
    // 			display: flex;
    // 			flex-direction: row;
    // 			height: $nav-height;
    // 			position: initial;
    // 			margin-left: auto;
    // 			width: auto;
    // 			overflow: visible;

    // 			ul {
    // 				&.mainNav__nav,
    // 				&.mainNav__account {
    // 					display: flex;
    // 					flex-direction: row;

    // 					> li {
				// 			padding-right: rem(20);
    // 					}

    // 					li {
				// 			border-bottom: 0px solid transparent;

    // 						&.nav__dropdown {
    // 							position: relative; 

				// 				&:hover,
				// 				&:focus,
				// 				&.active {

				// 					ul {
				// 						opacity: 1;
				// 						left: 0;
				// 					}
				// 				}

    // 							ul {
			 //    					position: absolute;
			 //    					background-color: #FFFFFF;
			 //    					border-bottom-left-radius: 5px;
			 //    					border-bottom-right-radius: 5px;
			 //    					box-shadow: $shadow_depth_5;
			 //    					max-width: rem(800);
			 //    					margin-left: rem(-15);
			 //    					left: 100vw;
		  //   						flex-direction: row;
			 //    					pointer-events: initial;
				// 					top: $nav-height;
				// 					height: auto;

			 //    					> * {
			 //    						padding: rem(40);

			 //    						&:not(:first-child) {
			 //    							border-left: 1px solid $iron-grey;
			 //    						}
			 //    					}

			 //    					.nav__subitem-group-title {
			 //    						padding-left: 0;
			 //    					}

			 //    					li {
			 //    						padding-left: 0;

			 //    						a {
			 //    							.nav__subitem-info-container {
			 //    								.nav__subitem-description {
			 //    									min-width: rem(250);
			 //    								}
			 //    							}
			 //    						}
			 //    					}
    // 							}
    // 						}
    // 					}
    // 				}
    // 			}
    // 		}
    // 	}
    // }

@media only screen and (min-width: $m-viewport) {
   		&.mobile--open {
   			background-color: $link;
   		}

    	header {
			.mainNav__mobile-toggle {
				display: none;
			}

			.mainNav__logo {
    			height: 100%;
			}

	    	nav {
	    		display: flex;
	    		flex-direction: row;
	    		position: initial;
	    		left: initial;
	    		top: initial;
	    		right: initial;
	    		width: auto;
	    		border-top: 0px solid transparent;
		    	margin-left: auto;
		    	height: 100%;

	    		ul {

	    			> li {

	    				&.sign-up {
	    					&:hover {
	    						background-color: transparent;
	    					}
	    				}
	    			}

	    			li {
						line-height: $nav-height;
						margin-left: rem(0);
						margin-right: rem(0);
						padding: 0 rem(15);
						border-bottom: 0px solid transparent;

						&.nav__dropdown {
							line-height: $nav-height;

							&.active {
								background-color: rgba(0,0,0,.05);
							}
						}

	    				a {
							line-height: $nav-height;
	    				}

						&:hover,
						&:focus,
						.active {
	    					ul {
	    						opacity: 1;
	    						left: initial;
	    						transition: opacity .2s ease-in-out;
	    						height: auto;
	    					}
						}

	    				ul {
	    					position: absolute;
	    					background-color: #FFFFFF;
	    					border-bottom-left-radius: 5px;
	    					border-bottom-right-radius: 5px;
	    					box-shadow: $shadow_depth_5;
	    					flex: 1;
	    					max-width: rem(720);
	    					margin-left: rem(-15);
	    					left: 100vw;
    						flex-direction: row;
	    					pointer-events: initial;
							top: $nav-height;


	    					> * {
	    						padding: rem(40);

	    						&:not(:first-child) {
	    							border-left: 1px solid $iron-grey;
	    						}
	    					}

	    					.nav__subitem-group-title {
	    						padding-left: 0;
	    					}

	    					li {
	    						padding: 0;
	    						margin: 0;

	    						&:hover,
	    						&:focus {
	    							background-color: transparent;
	    						}

    							&:last-child {
    								a {
    									margin-bottom: 0;
    								}
    							}

	    						a {
	    							margin-bottom: rem(25);
	    							padding: 0;
	    							line-height: initial;

	    							.nav__subitem-visual {
	    								margin-top: 0;
	    							}

		    						.nav__subitem-info-container {
		    							margin-top: 0;

		    							.nav__subitem-description {
		    								font-size: rem(14);
		    							}
	    							}

	    							&:hover {
	    								.nav__subitem-visual {
	    									background-color: $link;
	    								}

			    						.nav__subitem-info-container {

			    							.nav__subitem-title {
			    								color: $link;	
			    							}

			    							.nav__subitem-description {
			    								color: $link;
			    							}
		    							}
	    							}
	    						}
	    					}
	    				}
	    			}

		    		&.mainNav__nav {
		    			display: flex;
		    			flex-direction: row;
		    			align-items: center;
		    		}

		    		&.mainNav__account {
		    			flex-direction: row;
		    			margin-left: rem(40);
		    			align-items: center;

		    			li {
		    				a {
		    					white-space: nowrap;
		    				}
		    			}

		    			.button--sign-up {
		    				display: block;
		    			}
		    		}
	    		}
	    	}
    	}
    }
}