$nav-padding: rem(20);

.mainNav {
	background-color: $nav-background-color;
	color: #FFFFFF;
	position: fixed;
	width: 100%;
	height: $nav-height;
	z-index: $nav-index;
	padding: 0 $container-spacing;
	transition: all .1s ease-in-out;

	&.mobile--open {
		background-color: #FFFFFF;

		.mainNav__mobile-toggle {
			color: $link;
		}
	}

	header {
		display: flex;
		height: 100%;
		align-items: center;
		display: flex;
		flex-direction: row;

		.mainNav__logo {
    		align-items: center;
    		display: flex;

    		img {
				max-height: $nav-height;
				height: rem(35);
    		}
		}

		.mainNav__mobile-toggle {
			align-items: center;
			display: flex;
			margin-left: auto;
			position: relative;
			height: $nav-height;

			.toggle--close,
			.toggle--open {
				position: absolute;
				right: 0;
				display: flex;
			    font-size: rem(25);
			    text-align: center;
			    min-width: rem(20);
			    opacity: 0;
			    pointer-events: none;
			    transition: opacity .1s ease-in-out;
			    line-height: $nav-height;

				&.active {
			    	opacity: 1;
			    	cursor: pointer;
			    	pointer-events: all;
				}
			}
		}

		nav {
			display: none;
			position: fixed;
			background-color: $nav-background-color;
			width: 100%;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    top: $nav-height;
		    border-top: 1px solid rgba(white, .25);
			flex-direction: column;

		    &.active {
		    	display: flex;
		    }

			ul {
				li {	
					padding: 0 rem(15);

					a {
						font-size: rem(18);
						display: block;
						color: white;
						line-height: $nav-height/1.25;
					}

					ul {
						padding-left: rem(20);
	    				background-color: $nav-background-color;
					}
				}

				&.mainNav__nav {
					display: flex;
					flex-direction: column;
				}

				&.mainNav__account {
					display: flex;
					flex-direction: column;
					margin-left: 0;

					.button--sign-up {
						display: inline-block;
					    border: 0px solid transparent;
					    padding: 0 rem(15);
					    color: $link;
					    line-height: rem(40);
					}
				}
			}

		}
	}

    @media only screen and (min-width: $s-viewport) {

   		&.mobile--open {
   			background-color: $link;
   		}

    	header {
			.mainNav__mobile-toggle {
				display: none;
			}

	    	nav {
	    		display: flex;
	    		flex-direction: row;
	    		position: initial;
	    		left: initial;
	    		top: initial;
	    		right: initial;
	    		width: auto;
	    		border-top: 0px solid transparent;
		    	margin-left: auto;
		    	height: 100%;

	    		ul {
	    			li {
						line-height: $nav-height;

	    				a {
							font-size: rem(16);
							line-height: $nav-height;
	    				}

	    				&:hover,
	    				&:focus {
	    					ul {
	    						display: block; 
	    					}
	    				}

	    				ul {
	    					display: none;
	    					position: absolute;
	    					padding-left: 0;
	    					background-color: #FFFFFF;
	    					border-radius: 5px;
	    					padding: rem(30);
	    					box-shadow: $shadow_depth_5;
	    					left: $container-spacing;
	    					right: $container-spacing;
	    					color: $text_grey;

	    					li {
	    						a {
	    							color: $text_grey;
	    						}
	    					}
	    				}
	    			}

		    		&.mainNav__nav {
		    			flex-direction: row;
		    			align-items: center;
		    		}

		    		&.mainNav__account {
		    			flex-direction: row;
		    			margin-left: rem(40);
		    			align-items: center;

		    			.button--sign-up {
		    				display: block;
		    			}
		    		}
	    		}
	    	}
    	}
    }
}