.preFooter {
    display: flex;
    flex-direction: column;
    align-items: center;

    .preFooter__left,
    .preFooter__right {
    	width: 100%;
    	background-color: $primary-green;
    	padding-left: $container-spacing;
    	padding-right: $container-spacing;
    	padding-top: $section-padding;
    	padding-bottom: $section-padding;
    	display: flex;
    	flex-direction: column;
    }

	.preFooter__right {
    	background-color: $link;
	}

	.preFooter__visual {
		height: rem(60);
		width: rem(60);
		border-radius: 50%;
		background-color: white;
		overflow: hidden;
		margin: 0 auto;
		margin-bottom: rem(20);

		img {
			height: 100%;
			width: auto;
		}
	}

	.preFooter__info-container {
	    width: auto;
	    max-width: rem(400);
	    margin: 0 auto;
		flex: 1;
		text-align: center;

		.preFooter__title {
			@include fancy-title-small;
			color: #FFFFFF;
			margin-bottom: rem(10);
			line-height: 1.3em;
		}

		.preFooter__description {
			color: #FFFFFF;
		}

		#{$button} {
			width: 100%;
		}
	}
}

@media only screen and (min-width: $m-viewport) {
	.preFooter {
		flex-direction: row;

	    .preFooter__left,
	    .preFooter__right {
	    	flex-direction: row;
	    	align-self: normal;

			.preFooter__visual {
				height: rem(100);
				width: rem(100);
				margin-right: 0;
			}

			.preFooter__info-container {
				text-align: left;
				max-width: rem(300);
				margin-left: 0;

				#{$button} {
					width: auto;
				}
			}
	    }

	    .preFooter__left {
	    	.preFooter__info-container {
	    		margin-right: 0;
	    		margin-left: rem(40);
	    	}
	    }

	    .preFooter__right {
	    	.preFooter__visual{
	    		margin-left: 0;
	    		margin-right: rem(40);
	    	}
	    }

		.container {
			display: flex;
	    	flex-direction: row;
		}
	}
}