.salesRoster {
	padding-top: $section-padding-mobile;
	padding-bottom: $section-padding-mobile;

	.salesRoster__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: $m-viewport;
		margin-right: auto;
		margin-left: auto;

		.salesRoster__info {
			margin-bottom: rem(40);
			text-align: center;

			.salesRoster__title {
				@include title-large;
				margin-bottom: rem(40);
				color: $link;
				padding-left: $container-spacing;
				padding-right: $container-spacing;
			}

			.salesRoster__description {
				margin-bottom: rem(40);
				max-width: rem(400);
				line-height: 1.5em;
				color: $interstitial-small-text-color;
				padding-left: $container-spacing;
				padding-right: $container-spacing;
			}

			.salesRoster__anchor {

			}
		}

		.salesRoster__visuals {
			margin-top: rem(40);

			.salesRoster__list {
				display: flex;
				flex-direction: row;
			    flex-wrap: wrap;
			    max-width: rem(600);
			    justify-content: center;

			    &:hover {
			    	.salesRoster__item {
			    		.salesRoster__profile {
			    			.salesRoster__caption {
			    				opacity: .5;
			    				transition: opacity .2s ease-in-out;
			    			}
			    		} 
			    	}
			    }

				.salesRoster__item {
					margin-bottom: rem(40);
					margin-top: rem(20);
				    margin-left: rem(30);
				    margin-right: rem(30);

				    &:hover {
						.salesRoster__profile {
							.salesRoster__profile-visual {
								box-shadow: $shadow_depth_4, $shadow_depth_6, $shadow_depth_6;
								transform: scale(1.22);
								transition: all .2s ease-in-out;
								background-size: 110%;
							}

							.salesRoster__caption {
								opacity: 1;
			    				transition: opacity .1s ease-in-out;
							}
						}

				    }

					.salesRoster__profile {
						.salesRoster__profile-visual {
							width: rem(120);
							height: rem(120);
							border-radius: 100%;
							box-shadow: $shadow_depth_2, $shadow_depth_4, $shadow_depth_6;
							transform: scale(1);
							transition: all .1s ease-in-out;
							background-position: center;
							background-size: 100%;
						    margin-left: auto;
						    margin-right: auto;
						}

						.salesRoster__caption {
							margin-top: rem(25);
							font-weight: 400;
							color: $text-black--lighter_step_2;
						}
					}
				}
			}
		}	
	}
}

@media only screen and (min-width: $s-viewport) {
	.salesRoster {
		padding-top: $section-padding;
		padding-bottom: $section-padding;

		.salesRoster__wrapper {

			.salesRoster__info {
				width: 50%;

				.salesRoster__title,
				.salesRoster__description {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
}

@media only screen and (min-width: $m-viewport) {
	.salesRoster {

		.salesRoster__wrapper {
			flex-direction: row;

			.salesRoster__info {
				text-align: left;
			}

			.salesRoster__visuals {
				margin-top: 0;
				margin-left: auto;

				.salesRoster__list {
					flex-wrap: wrap;
					justify-content: center;
				}
			}
		}
	}
}