.slideshow {
	text-align: center;
	padding-top: $section-padding;
	padding-bottom: $section-padding;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.slideshow__title {
		margin-top: $section-padding;
		@include fancy-title-medium;
		margin-bottom: rem(15);
		max-width: rem(500);
	}

	.slideshow__description {
		margin-bottom: (15);
		max-width: rem(500);
	}

	.slideshow__wrapper {
		position: relative;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    margin-top: rem(60);
	    max-width: 100%;
	}

	.slides {
		display: flex;
		flex-direction: column;
		z-index: 1;
		max-width: 100%;
		padding-lefT: 4vw;
		padding-right: 4vw;

		.slide {
			display: flex;
			flex-direction: column;
			max-height: 0;
			max-width: 0;
			opacity: 0;
			visibility: hidden;

			&.active {
				max-height: initial;
				max-width: initial;
				opacity: 1;
				visibility: visible;

				.slide__info,
				.slide__visual {
					left: 0;
					opacity: 1;
					transition: all .5s ease-out;
				}

				.slide__info {
					.slide__description {
						left: 0;
						transition: all .5s ease-in-out;
						opacity: 1;
						transition-delay: .2s;
					}
				}

				.slide__visual{
					transition: left .5s ease-in-out, opacity 1s ease-in-out;
					transition-delay: .5s
				}
			}

			.slide__info {
				text-align: left;
				max-width: rem(500);
				left: rem(100);
				position: relative;
				opacity: 0;
				transition: all .5s ease-out;

				.slide__title {
					@include title-medium;
					pointer-events: none;
					font-weight: 800;
				}

				.slide__description {
					margin-top: rem(10);
					line-height: rem(25);
					pointer-events: none;
					font-size: rem(15);
					color: $text-black--lighter_step_3;
					position: relative;
					left: rem(25);
					transition: all 1s ease-in-out;
					opacity: 0;
					transition-delay: .2s;
				}
			}

			.slide__visual {
				box-shadow: $shadow_depth_4;
				border-radius: rem(10);
				overflow: hidden;
				left: rem(50);
				opacity: 0;
				position: relative;
				transition: left .5s ease-in-out, opacity 1s ease-in-out;
				margin: rem(40) 0;
				width: 100%;

				img {
					max-width: 100%;
					height: auto;
				}
			}
		}
	}

	.slide__nav {
		display: flex;
	    left: 0;
	    top: rem(200);
	    z-index: 2;

		.slide__link {
			$boxShadowDefault: $shadow_depth_3;
			$boxShadowInteracted: $shadow_depth_5;
			$linkSize: 20;
			width: rem($linkSize);
			height: rem($linkSize);
			margin-left: rem(10);
			margin-right: rem(10);
			border-radius: 50%;
			display: flex;
    		justify-content: center;
    		box-shadow: $boxShadowDefault;
			transition: box-shadow .1s ease-in-out;
			border: 1px solid lighten($menuBorder, 5);

			&:before {
    			content: attr(data-tooltip);
				position: absolute;
				padding: rem(10);
				font-size: rem(16);
				color: $text-black;
				bottom: rem($linkSize);
				background-color: #FFFFFF;
				text-align: center;
				margin: auto;
				border-radius: rem(5);
				opacity: 0;
				white-space: nowrap;
				font-weight: 200;
    			box-shadow: $shadow_depth_4;
    			pointer-events: none;
			}

			&.next {
				background-color: transparent;
				box-shadow: none;
				border: 0px solid transparent;

				i {
					display: flex;
					align-items: center;
					justify-content: center;
					pointer-events: none;
				}
			}

			&.active {
    			box-shadow: $boxShadowInteracted;
    			background-color: $link;
				border: 1px solid $link;
			}

			&:hover {
				transition: all .1s ease-in-out;
    			box-shadow: $boxShadowInteracted;

    			&:before {
    				transition: all .2s ease-in-out;
    				opacity: 1;
					bottom: rem($linkSize+35);
    			}
			}
		}
	}

	@media only screen and (min-width: $m-viewport) {
		.slideshow__wrapper {
			margin-top: rem(100);
			max-width: initial;
		}

		.slides {
			flex-direction: row;
			padding-left: 0;
			padding-right: 0;

			.slide {
				flex-direction: row;

				.slide__visual {
					width: rem(500);
					margin: 0;
				}

				.slide__info {
					margin-right: rem(100);
					min-width: rem(400);
					max-width: rem(400);
				}
			}
		}

		.slide__nav {
    		position: absolute;

    		.slide__link {
				$linkSize: 40;
				width: rem($linkSize);
				height: rem($linkSize);

				&:first-child {
					margin-left: 0;
				}
    		}
		}
	}

}