$topOffset: 50;

.slideshow {
	text-align: center;
	padding-top: $section-padding-mobile;
	padding-bottom: $section-padding-mobile;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.slideshow__title {
		@include fancy-title-medium;
		max-width: rem(700);
		padding-left: $container-spacing-mobile;
		padding-right: $container-spacing-mobile;


		& + .slideshow__wrapper {
			margin-top: rem(80);
		}
	}

	.slideshow__description {
		@include component-description;
		margin-top: rem(40);
		margin-bottom: 0;

		& + .slideshow__wrapper {
			margin-top: rem(80);
		}
	}

	.slideshow__wrapper {
		position: relative;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    max-width: 100%;
	}

	.slides {
		display: flex;
		flex-direction: column;
		z-index: 1;
		max-width: rem(600);
		padding-left: 4vw;
		padding-right: 4vw;

		.slide {
			display: flex;
			flex-direction: column;
			max-height: 0;
			max-width: 0;
			opacity: 0;
			visibility: hidden;

			&.active {
				max-height: initial;
				max-width: initial;
				opacity: 1;
				visibility: visible;

				.slide__info,
				.slide__visual {
					left: 0;
					opacity: 1;
					transition: all .5s ease-out;
				}

				.slide__info {
					.slide__description {
						left: 0;
						transition: all .7s ease-in-out;
						opacity: 1;
						transition-delay: .2s;
					}
				}

				.slide__visual{
					transition: left .5s ease-in-out, opacity .8s ease-in-out;
					transition-delay: .3s
				}
			}

			.slide__info {
				text-align: center;
				max-width: rem(400);
				left: rem(100);
				position: relative;
				opacity: 0;
				transition: all .5s ease-out;
				margin-left: auto;
				margin-right: auto;

				.slide__title {
					@include title-medium;
					pointer-events: none;
					font-weight: 400;
				}

				.slide__description {
					@include component-description;
					margin-bottom: 0;
					margin-top: rem(30);
					pointer-events: none;
					position: relative;
					left: rem(25);
					transition: all .8s ease-in-out;
					opacity: 0;
					transition-delay: .2s;
				}
			}

			.slide__visual {
				left: rem(50);
				opacity: 0;
				position: relative;
				transition: left .5s ease-in-out, opacity .9s ease-in-out;
				margin: rem(40) 0;
				width: 100%;

				&.strip_styling {
					border-radius: 0;
					box-shadow: none;
				}

				img {
					max-width: 100%;
					height: auto;
					box-shadow: $shadow_depth_4;
					border-radius: rem(10);
				}
			}
		}
	}

	.slide__nav {
		display: flex;
	    left: 0;
	    top: rem(190 + $topOffset);
	    z-index: 2;

		.slide__link {
			$boxShadowDefault: $shadow_depth_3;
			$boxShadowInteracted: $shadow_depth_5;
			$linkSize: 30;

			width: rem($linkSize);
			height: rem($linkSize);
			margin-left: rem(8);
			margin-right: rem(8);
			border-radius: 50%;
			display: flex;
    		justify-content: center;
    		box-shadow: $boxShadowDefault;
			transition: box-shadow .1s ease-in-out;
			border: 1px solid lighten($menuBorder, 5);
			background-color: #FFFFFF;

			&:before {
    			content: attr(data-tooltip);
				position: absolute;
				padding: rem(10);
				font-size: rem(16);
				color: $text-black;
				bottom: rem($linkSize);
				background-color: #FFFFFF;
				text-align: center;
				margin: auto;
				border-radius: rem(5);
				opacity: 0;
				white-space: nowrap;
    			box-shadow: $shadow_depth_4;
    			pointer-events: none;
			}

			&.next {
				background-color: transparent;
				box-shadow: none;
				border: 0px solid transparent;

				i {
					display: flex;
					align-items: center;
					justify-content: center;
					pointer-events: none;
				}
			}

			&.active {
    			box-shadow: $boxShadowInteracted;
    			background-color: $link;
				border: 1px solid $link;
			}

			&:hover {
				transition: all .1s ease-in-out;
    			box-shadow: $boxShadowInteracted;

    			&:before {
    				transition: all .2s ease-in-out;
    				opacity: 1;
					bottom: rem($linkSize+10);
    			}
			}
		}
	}

	// if directly below hero, flip
	// if directly below hero and directly below another slideshow, normal
	// if another slideshow follows, flip

}

@media only screen and (min-width: $m-viewport) {
	.slideshow {
		padding-top: $section-padding;
		padding-bottom: $section-padding;

		.slideshow__title,
		.slideshow__description {
			& + .slideshow__wrapper {
				margin-top: rem(120);
			}
		}

		.slideshow__wrapper {
			max-width: initial;
			transform: translatex(40px);
		}

		.slides {
			flex-direction: row;
			padding-left: 0;
			padding-right: 0;
			max-width: 100%;

			.slide {
				flex-direction: row;

				.slide__visual {
					width: rem(435);
					margin: 0;
				}

				.slide__info {
					text-align: left;
					margin-right: rem(100);
					min-width: rem(400);
					max-width: rem(400);

					.slide__description {
						text-align: left;
					}
				}
			}
		}

		.slide__nav {
			position: absolute;

			.slide__link {
				$linkSize: 40;
				width: rem($linkSize);
				height: rem($linkSize);

				&:first-child {
					margin-left: 0;
				}

				&:hover {
					&:before {
						bottom: rem($linkSize+10);
					}
				}
			}
		}
	}
}

// @media only screen and (min-width: $l-viewport) {
// 	.slideshow {
// 		.slides {
// 			.slide_info {
// 				transform: translateY( rem($topOffset) );
// 			}
// 		}
// 	}
// }


@media only screen and (min-width: $xxl-viewport) {
	.slideshow {
		.slideshow__title {
			max-width: rem(800);
		}

		.slides {
			max-width: 100%;

			.slide {
				.slide__info {
					// margin-right: rem(300);
				}
				.slide__visual {
					width: rem(700);
					// max-width: initial;
				}
			}
		}

		.slide_nav {
			// left: rem(300);
		}
	}
}

//
// Rules for flipping the display of the slideshow based on elements around it
//

@mixin slideshowDisplayFlipMobile() {
	.slideshow__wrapper {
		.slide {
			flex-direction: column;

			.slide__info {
				margin-right: auto;
				margin-left: auto;
			}
		}

		.slide__nav {
			left: rem(600);
		}
	}
}

@mixin slideshowDisplayFlip() {
	.slideshow__wrapper {
		transform: translatex(-40px);
		
		.slide {
			flex-direction: row-reverse;

			.slide__info {
				margin-right: 0;
				margin-left: rem(100);
			}
		}

		.slide__nav {
			left: rem(600);
		}
	}
}

@mixin slideshowDisplayFlipLarge() {
	.slideshow__wrapper {
		.slide {

			// .slide__info {
			// 	margin-right: 0;
			// 	margin-left: rem(100);
			// }
		}

		.slide__nav {
			left: rem(800);
		}
	}
}

.slideshow {
	.hero + &,
	&:nth-of-type(even) {
		@include slideshowDisplayFlipMobile();

		@media only screen and (min-width: $m-viewport) {
			@include slideshowDisplayFlip();
		}

		 @media only screen and (min-width: $xxl-viewport) {
			@include slideshowDisplayFlipLarge();
		 }
	}
}