section.tabBar {
	@include section-spacing;
}

.tabBar {
	width: 100%;

	.tabBar__list {
		display: flex;
		flex-direction: row;
		box-shadow: 0 -1px 0 $menuBorder inset;
    	overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
    	justify-content: center;

		.tabBar__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left: rem(40);

			&:first-of-type {
				margin-left: 0;
			}

			.tabBar__anchor {
				@include label-title;
				height: 100%;
				display: block;
				text-align: center;
				padding-bottom: rem(20);
				cursor: pointer;
				white-space: nowrap;

				&.active {
					box-shadow: 0 -5px 0 $link inset;
					color: $link;
				}

				img {
					display: block;
					max-width: 100%;
					height: rem(70);
					margin-bottom: rem(15);
					pointer-events: none;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}

		.tabBar__actions {
			$button-spacing: 20;

			margin-left: auto;
			margin-top: rem(-($button-spacing));

			&:only-child {
				margin-top: 0;
				padding-bottom: rem($button-spacing); 
			}

			#{$button} {
				display: none;

				&.active {
					display: inline-block;
				}

				&:only-child {
					display: inline-block;
				}
			}
		}
	}	
}