.mainNav + section.tabBar {
	padding-top: $nav-height + rem(30);
	padding-bottom: 0;
	background-color: #FFFFFF;
}

section.tabBar {
	@include section-spacing;
}

.tabBar {
	width: 100%;
	box-shadow: 0 -1px 0 $menuBorder inset;
	display: flex;
	justify-content: center;

	.tabBar__list {
		display: inline-flex;
		flex-direction: row;
    	overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
    	justify-content: start;
   	 	-ms-overflow-style: none;  // IE 10+
   		overflow: -moz-scrollbars-none;  // Firefox

    	&::-webkit-scrollbar {
    		display: none;  // Safari and Chrome
		}

		.tabBar__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left: rem(20);
			margin-right: rem(20);

			.tabBar__anchor {
				@include label-title;
				height: 100%;
				display: block;
				text-align: center;
				padding-bottom: rem(20);
				cursor: pointer;
				white-space: nowrap;
				box-shadow: 0 0 0 $link inset;
				transition: box-shadow .3s ease-in-out;

				&.active {
					box-shadow: 0 -5px 0 $link inset;
					color: $link;
					pointer-events: none;
					transition: box-shadow .3s ease-in-out;

					img {
						filter: grayscale(0);
					}
				}

				img {
					display: block;
					max-width: 100%;
					height: rem(70);
					margin-left: auto;
					margin-right: auto;
					margin-bottom: rem(15);
					pointer-events: none;
					filter: grayscale(1);
				}
			}

			&:last-child {
				padding-right: rem(20);
			}
		}

		.tabBar__actions {
			$button-spacing: 20;

			margin-left: auto;
			margin-top: rem(-($button-spacing));

			&:only-child {
				margin-top: 0;
				padding-bottom: rem($button-spacing); 
			}

			#{$button} {
				display: none;

				&.active {
					display: inline-block;
				}

				&:only-child {
					display: inline-block;
				}
			}
		}
	}	
}