.tabBar {

	.tabBar__list {
		display: flex;
		flex-direction: row;
		border-bottom: 2px solid $menuBorder;

		.tabBar__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: rem(40);

			.tabBar__anchor {
				height: 100%;
				display: block;
				text-align: center;
				padding-bottom: rem(20);
				pointer-events: cursor;
				color: $text_grey;

				&.active {
					box-shadow: 0 2px 0 $link;
					color: $link;
				}

				img {
					display: block;
					max-width: 100%;
					height: rem(70);
					margin-bottom: rem(10);
					pointer-events: none;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}	
}