.testimonials {
	padding-top: $container-spacing;
	padding-bottom: $container-spacing;
	padding-left: 0;
	padding-right: 0;

	.testimonials__title {
		@include fancy-title-medium;
		text-align: center;
		margin-bottom: rem(80);
	}

	.testimonials__list {
		display: flex;
		flex-direction: row;
		justify-content: start;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		scroll-snap-type: x mandatory;
   	 	-ms-overflow-style: none;  // IE 10+

    	&::-webkit-scrollbar {
    		display: none;  // Safari and Chrome
		}

		&:after {
			content: "";
			height: rem(25);
			padding: rem(25);
		}

		.testimonial__item {
		  	scroll-snap-align: center;
			box-shadow: $shadow_depth_4;
			border-radius: rem(10);
			background-color: #FFFFFF;
			margin: rem(40) rem(20) rem(20) rem(20);
			text-align: left;
			position: relative;
			max-width: rem(430);
			min-width: rem(300);

			.testimonial__visual {
				position: absolute;
				left: 0;
				right: 0;
				top: rem(-40);
				width: rem(120);
				height: rem(120);
				border-radius: 50%;
				box-shadow: $shadow_depth_4;
				overflow: hidden;
				margin: 0 auto;
				background-color: #FFFFFF;
				border: 7px solid #FFFFFF;
				text-align: center;

				img {
					height: 100%;
					width: auto;
					max-width: 100%;
				}
			}

			.testimonial__info {
				$quotePadding: 30;

				padding-top: rem(120);
				text-align: center;
				display: flex;
				flex-direction: column;
				height: 100%;

				> * {
					padding-left: rem($quotePadding);
					padding-right: rem($quotePadding);

					&:last-child {
						padding-bottom: rem(20);
					}
				}

				.testimonial__quote {
					margin-bottom: rem(40);
					line-height: rem(25);
					position: relative;
					font-size: rem(16);
					line-height: 1.4em;
					margin-left: auto;
					margin-right: auto;
					max-width: 85%;
					flex: 1;
				    justify-content: center;
				    display: flex;
				    flex-direction: column;

					i {
						position: absolute;
						opacity: .1;
						font-size: rem(30);

						&[class*="left"] {
							top: rem(-10);
							left: -4%;
						}

						&[class*="right"] {
							bottom: rem(-10);
							right: -4%;
						}
					}
				}

				.testimonial__details {
					border-top: 1px solid $menuBorder;
					color: darken($menuBorder, 50%);
					font-size: rem(13);
					border-bottom-left-radius: 10px;
					border-bottom-right-radius: 10px;
				}

				.testimonial__nameOfPerson {
					@include fancy-title-xs;
					padding-top: rem(20);
					font-size: rem(17);
					color: inherit;
					opacity: .9;
				}

				.testimonial__teacher-type {
					margin-top: rem(15);
					opacity: .5;
				}

				.testimonial__teacher-level {
				}

				.testimonial__location {
					margin-top: rem(10);
					opacity: .5;
				}

			}
		}
	}

	img {
		width: 200px;
	}
}

@media only screen and (min-width: $s-viewport) {
	.testimonials {

		.testimonials__list {

			.testimonial__item {
				.testimonial__info {
					.testimonial__quote {
						font-size: rem(18);
						max-width: 78%;
					}
				}
			}

		}
	}
}

@media only screen and (min-width: $l-viewport) {
	.testimonials {
		padding-left: $container-spacing;
		padding-right: $container-spacing;

		.testimonials__list {
			justify-content: center;

			&:after {
				content: none;
			}

			.testimonial__item {
				.testimonial__info {
					.testimonial__quote {
						max-width: 78%;
					}
				}
			}

		}
	}
}