.testimonials {
	padding-top: $container-spacing;
	padding-bottom: $container-spacing;
	padding-left: 0;
	padding-right: 0;

	.testimonials__title {
		@include fancy-title-medium;
		text-align: center;
		margin-bottom: rem(80);
	}

	.testimonials__list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;

		.testimonial__item {
			box-shadow: $shadow_depth_4;
			border-radius: rem(10);
			background-color: #FFFFFF;
			margin: rem(40) rem(20) rem(20) rem(20);
			text-align: left;
			position: relative;
			max-width: rem(430);
			min-width: rem(300);

			.testimonial__visual {
				position: absolute;
				left: 0;
				right: 0;
				top: rem(-40);
				width: rem(120);
				height: rem(120);
				border-radius: 50%;
				box-shadow: $shadow_depth_4;
				overflow: hidden;
				margin: 0 auto;
				background-color: #FFFFFF;
				border: 7px solid #FFFFFF;

				img {
					height: 100%;
					width: auto;
					max-width: 100%;
				}
			}

			.testimonial__info {
				margin-top: rem(120);
				text-align: center;

				> * {
					padding-left: rem(30);
					padding-right: rem(30);

					&:last-child {
						padding-bottom: rem(20);
					}
				}

				.testimonial__quote {
					margin-bottom: rem(40);
					line-height: rem(25);
				}

				.testimonial__nameOfPerson {
					@include fancy-title-xs;
					border-top: 1px solid $menuBorder;
					padding-top: rem(20);
					color: $text_grey;
					font-size: rem(17);
				}

				.testimonial__teacher-type {
					margin-top: rem(10);
					color: $regent-grey;
					font-size: rem(13);
				}

				.testimonial__teacher-level {
					font-size: rem(13);
				}

				.testimonial__location {
					margin-top: rem(10);
					color: $link;
					font-size: rem(13);
				}

			}
		}
	}

	img {
		width: 200px;
	}
}

@media only screen and (min-width: $s-viewport) {
	.testimonials {
		padding-left: $container-spacing;
		padding-right: $container-spacing;
	}
}