{% include head.html %}

{% include nav.html %}

  {% assign components = page.components %}
  {% for component in components %}

    {% if forloop.index == 1 and component.component_name == "hero" %}
      {% unless component.directional_arrow == false %}
        {% assign directional_arrow = true %}
      {% endunless %}
    {% else %}
      {% assign directional_arrow = false %}
    {% endif %}

    {% assign include_file = component.component_name | append: '.html' %}
    {% include /components/{{ include_file }} content=component component_index=forloop.index directional_arrow=directional_arrow %}

  {% endfor %}

  {{ content }}

{% include footer.html %}